@{
    ViewBag.Title = "失败信息";
}
<!-- Page title -->
<div class="page-title">
    <h2><i class="icon-desktop color"></i> 失败信息 <small>系统已记录请耐心等待....</small></h2>
    <hr />
</div>
<!-- Page title -->
<div class="row">
    <div class="span10">
        <div class="tips tips-large tips-warning">
            <span class="x-icon x-icon-error">×</span>
            <div class="tips-content">
                <h2>失败信息</h2>系统已记录
                <p class="auxiliary-text">
                    <span>@if (Model != null)
                          {
                            <info>@Model.ToString()</info>
                          }
                          else { 
                          <info>未知错误</info>
                          }
                    </span>
                </p>
            </div>
        </div>
    </div>
</div>  