<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!--Integrated Security=True;//集成验证模式-->
    <remove name="LCL"/>
    <add name="LCL" connectionString="Data Source=.;Initial Catalog=LCL;Integrated Security=True;Pooling=False" providerName="System.Data.SqlClient"/>
  </connectionStrings>
   <appSettings>
    <add key="AppName" value="教育云平台"/>
    <add key="CompanyName" value="江西精英科技"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="webpages:Version" value="3.0.0.0"/>
  </appSettings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="bin/Plugins;Plugins;Plugins/bin"/>
    </assemblyBinding>
  </runtime>
  <system.web>
    <pages validateRequest="false"/>
    <compilation targetFramework="4.0" defaultLanguage="c#" debug="true"/>
    <authentication mode="Forms">
      <forms name=".EdmsCookie" domain=".EdmsCookie.com" loginUrl="~/Default.aspx" path="/" timeout="30" protection="All" cookieless="UseCookies"/>
    </authentication>
  </system.web>
  <system.runtime.caching>
    <memoryCache>
      <namedCaches>
        <add name="Default" cacheMemoryLimitMegabytes="10" pollingInterval="00:02:00"/>
      </namedCaches>
    </memoryCache>
  </system.runtime.caching>
</configuration>