@using LCL.MvcExtensions;
@{
    ViewBag.Title = "计划任务列表";
}
<!--   数据列表    -->
<table id="grid_schedule" title="计划任务列表" toolbar="#toolbar_schedule"></table>
<!--   命令列表   -->
<div id="toolbar_schedule">
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true" onclick="add()">添加</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true" onclick="del()">删除</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true" onclick="refresh()">刷新</a>
    <a href="javascript:void(0)" />
</div>
@section scripts{
    <script type="text/javascript">
        var root = "@(Url.BundlePContent("UIShell.RbacManagementPlugin", "Schedule"))/";
        $(document).ready(function () {
            $('#grid_schedule').datagrid({
                url: root + 'AjaxGetBy',
                loadMsg: '数据加载中....',
                title: '计划任务信息一览表',
                iconCls: 'icon-edit',
                pagination: true,
                rownumbers: true,
                fitCloumns: true,
                hideColumn: [[
                  { title: '编号', field: 'ID' }
                ]],
                columns: [[
                    { field: 'ck', checkbox: true },
                    { field: 'Exetime', title: '计划任务名称', width: 250 },
                    { field: 'Exetime', title: '执行方式', width: 500 },
                    { field: 'Lastexecuted', title: '上次执行时间', width: 150 },
                    {
                        field: 'Enable', title: '状态', width: 150,
                        formatter: function (value, row, index) {
                            if (value) {
                                return '开启';
                            } else {
                                return '关闭';
                            }
                        }
                    },
                    {
                        field: 'Issystemevent', title: '级别', width: 150,
                        formatter: function (value, row, index) {
                            if (value) {
                                return '系统级';
                            } else {
                                return '非系统级';
                            }
                        }
                    },
                    {
                        field: 'opt', title: '操作', width: 150, align: 'center',
                        formatter: function (value, rec) {
                            return "<a href='javascript:void(0)' class='easyui-linkbutton' iconcls='icon-man' plain='true' onclick='ExecCommand()'>立即执行</a>  "
                                + "<a href='javascript:void(0)' class='easyui-linkbutton' iconcls='icon-edit' plain='true' onclick='edit()'>修改 </a>  "
                                + "<a href='javascript:void(0)' class='easyui-linkbutton' iconcls='icon-remove' plain='true' onclick='del()'>删除 </a>    ";
                        }
                    }
                ]]
            });
        });
        function add() {
            $("<div/>").dialog({
                id: 'dlg_schedule',
                title: '添加',
                href: root + 'AddOrEdit',
                width: 500,
                height: 280,
                iconCls: 'icon-add',
                modal: true,
                buttons: [{
                    id: "ui_schedule_add_btn",
                    text: '添 加',
                    handler: function () {
                        $("#ffschedule").form("submit", {
                            url: root + "AjaxAdd",
                            onSubmit: function (param) {
                                $('#ui_schedule_add_btn').linkbutton('disable');    //点击就禁用按钮，防止连击
                                param.action = 'add';
                                if ($(this).form('validate'))
                                    return true;
                                else {
                                    $('#ui_schedule_add_btn').linkbutton('enable');   //恢复按钮
                                    return false;
                                }
                            },
                            success: function (data) {
                                var dataJson = eval('(' + data + ')');    //转成json格式
                                if (dataJson.Success) {
                                    $("#dlg_schedule").dialog('destroy');  //销毁dialog对象
                                    $("#grid_schedule").datagrid("reload").datagrid('clearSelections').datagrid('clearChecked');
                                } else {
                                    $('#ui_schedule_add_btn').linkbutton('enable');   //恢复按钮
                                }
                            }
                        });
                    }
                }],
                onClose: function () {
                    $("#dlg_schedule").dialog('destroy');  //销毁dialog对象
                }
            });
        }
        function edit() {
            var row = $("#grid_schedule").datagrid("getSelected");
            if (row) {
                $("<div/>").dialog({
                    id: 'dlg_schedule',
                    title: '修改',
                    width: 500,
                    height: 280,
                    href: root + 'AddOrEdit?id=' + $.LCLCore.ValidUI.Trim(ID),
                    iconCls: 'icon-edit',
                    modal: true,
                    buttons: [{
                        id: "ui_schedule_add_btn",
                        text: '添 加',
                        handler: function () {
                            $("#ffschedule").form("submit", {
                                url: root + "AjaxEdit",
                                onSubmit: function (param) {
                                    $('#ui_schedule_add_btn').linkbutton('disable');    //点击就禁用按钮，防止连击
                                    param.action = 'add';
                                    if ($(this).form('validate'))
                                        return true;
                                    else {
                                        $('#ui_schedule_add_btn').linkbutton('enable');   //恢复按钮
                                        return false;
                                    }
                                },
                                success: function (data) {
                                    var dataJson = eval('(' + data + ')');    //转成json格式
                                    if (dataJson.Success) {
                                        $("#dlg_schedule").dialog('destroy');  //销毁dialog对象
                                        $("#grid_schedule").datagrid("reload").datagrid('clearSelections').datagrid('clearChecked');
                                    } else {
                                        $('#ui_schedule_add_btn').linkbutton('enable');   //恢复按钮
                                    }
                                }
                            });
                        }
                    }],
                });
            }
        }
        function del() {
            var rows = $('#grid_schedule').datagrid('getSelections');
            if (!rows || rows.length == 0) {
                $.messager.alert('提示', '请选择要删除的数据!', 'info');
                return;
            }
            var parm;
            $.each(rows, function (i, row) {
                if (i == 0) {
                    parm = "idList=" + row.ID;
                } else {
                    parm += "&idList=" + row.ID;
                }
            });
            $.messager.confirm('提示', '是否删除选中数据?', function (r) {
                if (!r) {
                    return;
                }
                //提交
                $.post(root + 'AjaxDeleteList/', parm,
                function (msg) {
                    if (msg.Success) {
                        $.messager.alert('提示', msg.Message, 'info', function () {
                            //重新加载当前页
                            $('#grid_schedule').datagrid('reload');
                        });
                    } else {
                        $.messager.alert('提示', msg.Message, 'info')
                    }
                }, "json");
            });
        }
        function ExecCommand() {
            var row = $("#grid_schedule").datagrid("getSelected");
            if (row) {
                //提交
                $.post(root + 'AjaxExecCommand?key=', row.key,
                function (msg) {
                    if (msg.Success) {
                        $.messager.alert('提示', msg.Message, 'info', function () {
                            //重新加载当前页
                            $('#grid_schedule').datagrid('reload');
                        });
                    } else {
                        $.messager.alert('提示', msg.Message, 'info')
                    }
                }, "json");
            }
        }
    </script>
}
