@{
    ViewBag.Title = "联系方式";
}
<div class="bs-docs-header" id="content" tabindex="-1">
    <div class="container">
        <p>发邮件给我们：<a href="mailto:minguiluo@163.com">minguiluo@163.com</a></p>
    </div>
</div>
<div class="container bs-docs-container">
    <h3>联系方式</h3>
    <p>您可以通过以下方式联系LCL Web Mvc示例项目的作者。</p>
    <div>电子邮件：<a href="mailto:minguiluo@163.com">minguiluo@163.com</a></div>
    <div>博客主页：<a href="http://luomingui.cnblogs.com" target="_blank">http://luomingui.cnblogs.com</a></div>
</div>