@using LCL;
@{
    ViewBag.Title = "LCL";
}
<!-- Docs page layout -->
<div class="jumbotron" id="content" tabindex="-1">
    <div class="container">
        <h1>LCL.NET</h1>
        <p class="lead">LCL是一个免费的web框架为构建web站点和web应用程序使用HTML,CSS和JavaScript。</p>
        <p><a href="https://github.com/luomingui/LCLFramework" class="btn btn-primary btn-lg" target="_blank">了解更多 &raquo;</a></p>
    </div>
</div>
<div class="container bs-docs-container">
    <div class="row">
        <div class="col-md-4">
            <h2>领域驱动设计</h2>
            <p>
                领域驱动设计(DDD)是一种软件开发方法对于复杂的需求
                连接实现一个进化模型。理想情况下,将是更可取的
                有一个统一的模型。虽然这是一个崇高的目标,实际上它通常碎片
                为多个模型。认识到这一事实是很有用的生活和工作。

            </p>
            <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/Domain-driven_design" target="_blank">了解更多 &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>通过Nuget获取LCL</h2>
            <p>Nuget是一个.NET平台下的开源的项目，它是Visual Studio的扩展。在使用Visual Studio开发基于.NET Framework的应用时，Nuget能把在项目中添加、移除和更新引用的工作变得更加快捷方便。</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866" target="_blank">了解更多 &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>虚拟主机</h2>
            <p>虚拟主机，也叫“网站空间”，就是把一台运行在互联网上的物理服务器划分成多个“虚拟”服务器。虚拟主机技术极大的促进了网络技术的应用和普及。同时虚拟主机的租用服务也成了网络时代的一种新型经济形式。</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867" target="_blank">了解更多 &raquo;</a></p>
        </div>
    </div>
</div>