<?xml version="1.0"?>
<GeneralConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <CURRPLACEID1>1</CURRPLACEID1>
  <CURRPLACEID2>2</CURRPLACEID2>
  <CURRPLACEID3>0</CURRPLACEID3>
  <CURRPLACEID4>0</CURRPLACEID4>
  <IsSchoolResponse>true</IsSchoolResponse>
  <IsSchoolMasterAudit>false</IsSchoolMasterAudit>
  <SchoolResponseTimeout>3</SchoolResponseTimeout>
  <SchoolMaintainTimeout>2</SchoolMaintainTimeout>
  <DefaultAuditTimeout>2</DefaultAuditTimeout>
  <CompanyResponseTimeout>4</CompanyResponseTimeout>
  <CompanyMaintainTimeout>2</CompanyMaintainTimeout>
  <VisitCost>10</VisitCost>
</GeneralConfigInfo>