<?xml version="1.0"?>
<GeneralConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <AppName>企业信息化管理平台v1.0</AppName>
  <CompanyName>精英科技</CompanyName>
  <Regstatus>0</Regstatus>
  <Copyright> Copyright 2015 &amp;copy; - &lt;a href="http://luomingui.cnblogs.com"&gt;精英科技&lt;/a&gt;</Copyright>
  <ComPort>0</ComPort>
  <ComBaud>115200</ComBaud>
</GeneralConfigInfo>