<?xml version="1.0"?>
<ScheduleConfigInfo xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <enabled>true</enabled>
  <events>
    <EventInfo key="ClearCatchEvent" time_of_day="-1" minutes="720" type="UIShell.BusinessEvent.ClearCatchEvent, UIShell.BusinessEvent" enabled="true" is_system_event="true" />
    <EventInfo key="ScriptEvent" time_of_day="1170" minutes="720" type="UIShell.BusinessEvent.ScriptEvent, UIShell.BusinessEvent" enabled="true" is_system_event="true" />
  </events>
  <minutes_interval>1</minutes_interval>
</ScheduleConfigInfo>