<?xml version="1.0"?>
<ScriptEventConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <scriptevent>
    <ScriptEventInfo key="DeleteOldLog" title="删除日志" timeofday="120" miniutes="0" enabled="true">DELETE [TLog]</ScriptEventInfo>
  </scriptevent>
</ScriptEventConfigInfo>