<div class="easyui-layout" fit="true" id="tb"> 
    <div data-options="region:'north'" style="padding: 1px; height:70px;"> 
        <!-------------------------------搜索框-----------------------------------> 
        <fieldset> 
            <legend id="search_title">信息查询</legend> 
            <form id="ffSearchhm_bill" method="post"> 
                <div id="toolbar" style="margin-bottom:5px"> 
                    <label for="Keyword" id="search_key">搜:</label> 
                    <input type="text" name="Keyword" id="Keyword" class="easyui-textbox" style="width: 220px; height: 25px; text-align: center;" placeholder="请输入" /> 
                    &nbsp; 
                    <a id="btnSearchhm_bill" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search">查询</a>&nbsp; 
                </div> 
            </form> 
        </fieldset> 
    </div> 
    <div data-options="region:'center'"> 
        <!-------------------------------详细信息展示表格-----------------------------------> 
        <table id="grid_hm_bill" title="票据入库"  data-options="iconCls:'icon-view'" fit="true"></table> 
   <!--   弹出框       --> 
        <div id="win_hm_bill"  style="padding: 5px;background: #fafafa;" >  
            <div class="easyui-layout" fit="true"> 
               <form id="ffhm_bill" method="post" ajax="true">
<table class="tb_searchbar"> 
 <tbody> 
                <tr> 
                    <td class="td_title"><label style="color: black" id="ff_lab_hm_bill_startnumber">起始编号</label></td> 
                    <td> 
                        <input type="text" id="hm_bill_Entity_StartNumber" name="hm_bill_EntityStartNumber" value="  " style="width:310px"  maxlength="4" tabindex="1" /> 
                    </td> 
                </tr> 
                <tr> 
                    <td class="td_title"><label style="color: black" id="ff_lab_hm_bill_endnumber">结束编号</label></td> 
                    <td> 
                        <input type="text" id="hm_bill_Entity_EndNumber" name="hm_bill_EntityEndNumber" value="  " style="width:310px"  maxlength="4" tabindex="2" /> 
                    </td> 
                </tr> 
                <tr> 
                    <td class="td_title"><label style="color: black" id="ff_lab_hm_bill_versionnumber">版本编号</label></td> 
                    <td> 
                        <input type="text" id="hm_bill_Entity_VersionNumber" name="hm_bill_EntityVersionNumber" value="  " style="width:310px"  maxlength="4" tabindex="3" /> 
                    </td> 
                </tr> 
                <tr> 
                    <td class="td_title"><label style="color: black" id="ff_lab_hm_bill_quantity">票据规格 数目【本】</label></td> 
                    <td> 
                        <input type="text" id="hm_bill_Entity_Quantity" name="hm_bill_EntityQuantity" value="  " style="width:310px"  maxlength="4" tabindex="4" /> 
                    </td> 
                </tr> 
                <tr> 
                    <td class="td_title"><label style="color: black" id="ff_lab_hm_bill_billtype_id">BillType_ID<span style="color:red;">*</span></label></td> 
                    <td> 
<select id="hm_bill_Entity_BillType_ID" class='easyui-combotree' data-options='url:"AjaxEasyUITree"' style='width: 120px; height: 28px;' tabindex="8"  data-options="required:true" class="easyui-validatebox" ></select>
                    </td> 
                </tr> 
                <tr> 
                    <td class="td_title"><label style="color: black" id="ff_lab_hm_bill_chargeannual_id">ChargeAnnual_ID<span style="color:red;">*</span></label></td> 
                    <td> 
<select id="hm_bill_Entity_ChargeAnnual_ID" class='easyui-combotree' data-options='url:"AjaxEasyUITree"' style='width: 120px; height: 28px;' tabindex="9"  data-options="required:true" class="easyui-validatebox" ></select>
                    </td> 
                </tr> 
<tr><td  colspan='1'><input type='hidden' id='hm_bill_Entity_ID' name='hm_bill_EntityID' value='' />
<input type='hidden' id='hm_bill_Entity_IsDelete' name='hm_bill_EntityIsDelete' value='' />
<input type='hidden' id='hm_bill_Entity_AddDate' name='hm_bill_EntityAddDate' value='' />
<input type='hidden' id='hm_bill_Entity_UpdateDate' name='hm_bill_EntityUpdateDate' value='' />
<td></tr>
 </tbody> 
</table> 

               </form>
            </div> 
        </div> 
    </div> 
</div> 
@section scripts{ 
  <script src="/Plugins/UIShell.HeatMeteringPlugin/ViewScript/hm_bill.cshtml.LanguageResource.js" type="text/javascript"></script> 
  <script src="/Plugins/UIShell.HeatMeteringPlugin/ViewScript/hm_bill.cshtml.js" type="text/javascript"></script> 
} 

