<div class="easyui-layout" fit="true" id="tb"> 
    <div data-options="region:'north'" style="padding: 1px; height:70px;"> 
        <!-------------------------------搜索框-----------------------------------> 
        <fieldset> 
            <legend id="search_title">信息查询</legend> 
            <form id="ffSearchhm_hisdevicedata" method="post"> 
                <div id="toolbar" style="margin-bottom:5px"> 
                    <label for="Keyword" id="search_key">搜:</label> 
                    <input type="text" name="Keyword" id="Keyword" class="easyui-textbox" style="width: 220px; height: 25px; text-align: center;" placeholder="请输入" /> 
                    &nbsp; 
                    <a id="btnSearchhm_hisdevicedata" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search">查询</a>&nbsp; 
                </div> 
            </form> 
        </fieldset> 
    </div> 
    <div data-options="region:'center'"> 
        <!-------------------------------详细信息展示表格-----------------------------------> 
        <table id="grid_hm_hisdevicedata" title="抄表数据"  data-options="iconCls:'icon-view'" fit="true"></table> 
   <!--   弹出框       --> 
        <div id="win_hm_hisdevicedata"  style="padding: 5px;background: #fafafa;" >  
            <div class="easyui-layout" fit="true"> 
               <form id="ffhm_hisdevicedata" method="post" ajax="true">
<table class="tb_searchbar"> 
 <tbody> 
                <tr> 
                    <td class="td_title"><label style="color: black" id="ff_lab_hm_hisdevicedata_totalheat">累计用热量</label></td> 
                    <td> 
                        <input type="text" id="hm_hisdevicedata_Entity_TotalHeat" name="hm_hisdevicedata_EntityTotalHeat" value="  " style="width:310px"  maxlength="8" tabindex="1" /> 
                    </td> 
                </tr> 
                <tr> 
                    <td class="td_title"><label style="color: black" id="ff_lab_hm_hisdevicedata_supplywatert">入口温度</label></td> 
                    <td> 
                        <input type="text" id="hm_hisdevicedata_Entity_SupplyWaterT" name="hm_hisdevicedata_EntitySupplyWaterT" value="  " style="width:310px"  maxlength="8" tabindex="2" /> 
                    </td> 
                </tr> 
                <tr> 
                    <td class="td_title"><label style="color: black" id="ff_lab_hm_hisdevicedata_backwatert">出口温度</label></td> 
                    <td> 
                        <input type="text" id="hm_hisdevicedata_Entity_BackWaterT" name="hm_hisdevicedata_EntityBackWaterT" value="  " style="width:310px"  maxlength="8" tabindex="3" /> 
                    </td> 
                </tr> 
                <tr> 
                    <td class="td_title"><label style="color: black" id="ff_lab_hm_hisdevicedata_differencet">温差</label></td> 
                    <td> 
                        <input type="text" id="hm_hisdevicedata_Entity_DifferenceT" name="hm_hisdevicedata_EntityDifferenceT" value="  " style="width:310px"  maxlength="8" tabindex="4" /> 
                    </td> 
                </tr> 
                <tr> 
                    <td class="td_title"><label style="color: black" id="ff_lab_hm_hisdevicedata_adminname">抄表人<span style="color:red;">*</span></label></td> 
                    <td> 
                        <input type="text" id="hm_hisdevicedata_Entity_AdminName" name="hm_hisdevicedata_EntityAdminName" value="  " style="width:310px"  data-options="required:true" class="easyui-validatebox"  maxlength="50" tabindex="5" /> 
                    </td> 
                </tr> 
                <tr> 
                    <td class="td_title"><label style="color: black" id="ff_lab_hm_hisdevicedata_realtime">抄表时间</label></td> 
                    <td> 
                        <input type="text" id="hm_hisdevicedata_Entity_RealTime" name="hm_hisdevicedata_EntityRealTime" value="  " style="width:310px"  maxlength="8" tabindex="6" /> 
                    </td> 
                </tr> 
                <tr> 
                    <td class="td_title"><label style="color: black" id="ff_lab_hm_hisdevicedata_deviceinfo_id">DeviceInfo_ID<span style="color:red;">*</span></label></td> 
                    <td> 
<select id="hm_hisdevicedata_Entity_DeviceInfo_ID" class='easyui-combotree' data-options='url:"AjaxEasyUITree"' style='width: 120px; height: 28px;' tabindex="10"  data-options="required:true" class="easyui-validatebox" ></select>
                    </td> 
                </tr> 
<tr><td  colspan='1'><input type='hidden' id='hm_hisdevicedata_Entity_ID' name='hm_hisdevicedata_EntityID' value='' />
<input type='hidden' id='hm_hisdevicedata_Entity_IsDelete' name='hm_hisdevicedata_EntityIsDelete' value='' />
<input type='hidden' id='hm_hisdevicedata_Entity_AddDate' name='hm_hisdevicedata_EntityAddDate' value='' />
<input type='hidden' id='hm_hisdevicedata_Entity_UpdateDate' name='hm_hisdevicedata_EntityUpdateDate' value='' />
<td></tr>
 </tbody> 
</table> 

               </form>
            </div> 
        </div> 
    </div> 
</div> 
@section scripts{ 
  <script src="/Plugins/UIShell.HeatMeteringPlugin/ViewScript/hm_hisdevicedata.cshtml.LanguageResource.js" type="text/javascript"></script> 
  <script src="/Plugins/UIShell.HeatMeteringPlugin/ViewScript/hm_hisdevicedata.cshtml.js" type="text/javascript"></script> 
} 

