<div class="easyui-layout" fit="true" id="tb">
    <div id="win_edmsmaintenancebill" style="padding: 5px;background: #fafafa;">
        <div class="easyui-layout" fit="true">
            <form id="ffedmsmaintenancebill" method="post" ajax="true">
                <table class="tb_searchbar">
                    <tbody>
                        <tr>
                            <td class="td_title"><label style="color: black" id="ff_lab_edmsmaintenancebill_faultphenomenon">故障现象<span style="color:red;">*</span></label></td>
                            <td>
                                <input type="text" id="edmsmaintenancebill_Entity_FaultPhenomenon" name="edmsmaintenancebill_EntityFaultPhenomenon" value="  " style="width:310px" data-options="required:true" class="easyui-validatebox" maxlength="50" tabindex="7" />
                            </td>
                        </tr>
                        <tr>
                            <td class="td_title"><label style="color: black" id="ff_lab_edmsmaintenancebill_faultjudge">故障判断<span style="color:red;">*</span></label></td>
                            <td>
                                <input type="text" id="edmsmaintenancebill_Entity_FaultJudge" name="edmsmaintenancebill_EntityFaultJudge" value="  " style="width:310px" data-options="required:true" class="easyui-validatebox" maxlength="50" tabindex="8" />
                            </td>
                        </tr>
                        <tr>
                            <td class="td_title"><label style="color: black" id="ff_lab_edmsmaintenancebill_solvingskills">解决技巧<span style="color:red;">*</span></label></td>
                            <td>
                                <input type="text" id="edmsmaintenancebill_Entity_SolvingSkills" name="edmsmaintenancebill_EntitySolvingSkills" value="  " style="width:310px" data-options="required:true" class="easyui-validatebox" maxlength="50" tabindex="9" />
                            </td>
                        </tr>
                        <tr>
                            <td class="td_title"><label style="color: black" id="ff_lab_edmsmaintenancebill_record">维修记录<span style="color:red;">*</span></label></td>
                            <td>
                                <input type="text" id="edmsmaintenancebill_Entity_Record" name="edmsmaintenancebill_EntityRecord" value="  " style="width:310px" data-options="required:true" class="easyui-validatebox" maxlength="50" tabindex="10" />
                            </td>
                        </tr>
                        <tr>
                            <td class="td_title"><label style="color: black" id="ff_lab_edmsmaintenancebill_visitcost">上门费</label></td>
                            <td>
                                <input type="text" id="edmsmaintenancebill_Entity_VisitCost" name="edmsmaintenancebill_EntityVisitCost" value="  " style="width:310px" maxlength="4" tabindex="11" />
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <a id="btnSearchuser" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add">处理任务</a>&nbsp;
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>
@section scripts{
    <script src="/Plugins/UIShell.RbacManagementPlugin/ViewScript/edmsmaintenancebill.cshtml.LanguageResource.js" type="text/javascript"></script>
    <script src="/Plugins/UIShell.RbacManagementPlugin/ViewScript/edmsmaintenancebill.cshtml.js" type="text/javascript"></script>
}

