<div class="easyui-layout" fit="true" id="tb">
    <div data-options="region:'north'" style="padding: 1px; height:70px;">
        <!-------------------------------搜索框----------------------------------->
        <fieldset>
            <legend id="search_title">信息查询</legend>
            <form id="ffSearchhm_clientcharge" method="post">
                <div id="toolbar" style="margin-bottom:5px">
                    <label for="Keyword" id="search_key">搜:</label>
                    <input type="text" name="Keyword" id="Keyword" class="easyui-textbox" style="width: 220px; height: 25px; text-align: center;" placeholder="请输入" />
                    &nbsp;
                    <a id="btnSearchhm_clientcharge" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search">查询</a>&nbsp;
                </div>
            </form>
        </fieldset>
    </div>
    <div data-options="region:'center'">
        <div id="tt" class="easyui-tabs" style="width:100%;height:100%;">
            <div title="收费">
                <h3>客户年度信息</h3>
                    <table class="tb_searchbar">
                        <tbody>
                            <tr>
                                <td class="td_title" style="width:100px;"><label style="color: black">客户姓名</label></td>
                                <td style ="width:200px;">老罗传奇</td>
                                <td class="td_title" style="width:100px;"><label style="color: black">客户地址</label></td>
                                <td style="width:200px;">江西南昌艾湖村78栋3单元301室</td>
                                <td class="td_title" style="width:100px;"><label style="color: black">供热面积</label></td>
                                <td style ="width:200px;">100</td>
                            </tr>
                            <tr>
                                <td class="td_title" style="width:100px;"><label style="color: black">当前收费年度</label></td>
                                <td style="width:200px;">2011-2012</td>
                                <td class="td_title" style="width:100px;"><label style="color: black">应收采暖费</label></td>
                                <td style="width:200px;">012（元）</td>
                                <td class="td_title" style="width:100px;"><label style="color: black">欠费</label></td>
                                <td style="width:200px;">000</td>
                            </tr>
                        </tbody>
                    </table>
                    <h3>增减额输入</h3>
                    <table class="tb_searchbar">
                        <tbody>
                            <tr>
                                <td class="td_title" style="width:100px;"><label style="color: black">优惠金额</label></td>
                                <td style="width:300px;">
                                    <input type="text" value="0" style="width:90%;" />元
                                </td>
                                <td class="td_title" style="width:100px;"><label style="color: black">优惠比例</label></td>
                                <td style="width:850px;" colspan="5">
                                    <input type="text" value="0" />%
                                </td>
                            </tr>
                            <tr>
                                <td class="td_title" style="width:100px;"><label style="color: black">减免金额</label></td>
                                <td colspan="8">
                                    <input type="text" value="0" />元
                                    领导特批<input type="checkbox" />
                                </td>
                            </tr>
                            <tr>
                                <td class="td_title" style="width:100px;"><label style="color: black">折让金额</label></td>
                                <td colspan="8">
                                    <input type="text" value="0" />元
                                    供热不暖<input type="checkbox" />
                                </td>
                            </tr>
                            <tr>
                                <td class="td_title" style="width:100px;"><label style="color: black">滞纳金</label></td>
                                <td colspan="8">
                                    <input type="text" value="0" />元
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <h3>实收输入</h3>
                    <table class="tb_searchbar">
                        <tbody>
                            <tr>
                                <td class="td_title" style="width:100px;"><label style="color: black">入金</label></td>
                                <td style="width:200px;">
                                    <input type="text" value="0" />元
                                </td>
                                <td class="td_title" style="width:100px;"><label style="color: black">找钱</label></td>
                                <td style="width:200px;">
                                    <input type="text" value="0" />元
                                </td>
                                <td class="td_title" style="width:100px;"><label style="color: black">实收</label></td>
                                <td style="width:200px;">
                                    <label style="color: black;width:90%;">1982</label>
                                </td>
                            </tr>
                            <tr>
                                <td class="td_title" style="width:100px;"><label style="color: black">发票编号</label></td>
                                <td style="width:200px;">
                                    <label style="color: black;width:90%;">0000099</label>
                                </td>
                                <td class="td_title" style="width:100px;"><label style="color: black">交款人</label></td>
                                <td style="width:200px;">
                                    <input type="text" value="老罗传奇" />
                                </td>
                                <td class="td_title" style="width:100px;"><label style="color: black">收款人</label></td>
                                <td style="width:200px;">
                                    <label style="color: black;width:90%;">admin</label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
         
                <a  href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search">保存</a>&nbsp;
                <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search">打印</a>&nbsp;
            </div>
            <div title="收费记录">
                <table id="grid_hm_clientcharge" title="收费记录" data-options="iconCls:'icon-view'" fit="true"></table>
            </div>
            <div title="表数">
                <table id="grid_hm_clientdevice" title="客户表数" data-options="iconCls:'icon-view'" fit="true"></table>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="/Plugins/UIShell.HeatMeteringPlugin/ViewScript/hm_clientcharge.cshtml.LanguageResource.js" type="text/javascript"></script>
    <script src="/Plugins/UIShell.HeatMeteringPlugin/ViewScript/hm_clientcharge.cshtml.js" type="text/javascript"></script>
}

