<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0" />
    @using LCL.MvcExtensions;
    @using UIShell.RbacManagementPlugin;
    @using UIShell.RbacPermissionService;
    @{
        Layout = null;
    }
    <title>@LAppliction.Config.CompanyName</title>
    <link rel="stylesheet" type="text/css" href="@(Url.BundleContent(BundleActivator.Bundle, "css/bootstrap.min.css"))" />
    <script src="@(Url.BundleContent(BundleActivator.Bundle, "js/jquery.js"))"></script>
    <!-- Bootstrap JS -->
    <script src="@(Url.BundleContent(BundleActivator.Bundle, "js/bootstrap.min.js"))"></script>
    <style type="text/css">
        html, body {
            height: 100%;
        }

        .box {
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6699FF', endColorstr='#6699FF'); /*  IE */
            background-image: linear-gradient(bottom, #6699FF 0%, #6699FF 100%);
            background-image: -o-linear-gradient(bottom, #6699FF 0%, #6699FF 100%);
            background-image: -moz-linear-gradient(bottom, #6699FF 0%, #6699FF 100%);
            background-image: -webkit-linear-gradient(bottom, #6699FF 0%, #6699FF 100%);
            background-image: -ms-linear-gradient(bottom, #6699FF 0%, #6699FF 100%);
            margin: 0 auto;
            position: relative;
            width: 100%;
            height: 100%;
        }

        .login-box {
            width: 100%;
            max-width: 500px;
            height: 400px;
            position: absolute;
            top: 50%;
            margin-top: -200px;
            /*设置负值，为要定位子盒子的一半高度*/
        }
        @@media screen and (min-width:500px) {
            .login-box {
                left: 50%;
                /*设置负值，为要定位子盒子的一半宽度*/
                margin-left: -250px;
            }
        }	
        .form {
            width: 100%;
            max-width: 500px;
            height: 275px;
            margin: 25px auto 0px auto;
            padding-top: 25px;
        }

        .login-content {
            height: 300px;
            width: 100%;
            max-width: 500px;
            background-color: rgba(255, 250, 2550, .6);
            float: left;
        }


        .input-group {
            margin: 0px 0px 30px 0px !important;
        }

        .form-control,
        .input-group {
            height: 40px;
        }

        .form-group {
            margin-bottom: 0px !important;
        }

        .login-title {
            padding: 20px 10px;
            background-color: rgba(0, 0, 0, .6);
        }

            .login-title h1 {
                margin-top: 10px !important;
            }

            .login-title small {
                color: #fff;
            }

        .link p {
            line-height: 20px;
            margin-top: 30px;
        }

        .btn-sm {
            padding: 8px 24px !important;
            font-size: 16px !important;
        }
    </style>

</head>
<body>
    <div class="box">
        <div class="login-box">
            <div class="login-title text-center">
                <h1><small>登录</small></h1>
            </div>
            <div class="login-content ">
                <div class="form " style="text-align:center;" >
                    <form action="#" method="post">
                        <div class="form-group">
                            <div class="col-xs-12  ">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                    <input type="text" id="Name" name="Name" class="form-control" placeholder="用户名" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12  ">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                    <input type="password" id="Password" name="Password" class="form-control" placeholder="密码" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group form-actions">
                            <div class="col-xs-12 ">
                                <button type="submit" class="btn btn-sm btn-info" onclick="return AjaxLogin();"><span class="glyphicon glyphicon-off"></span> 登录</button>
                                <small>忘记密码？</small> <a href="javascript:void(0)"><small>找回</small></a>
                                <small>还没注册?</small> <a href="javascript:void(0)"><small>注册</small></a>
                                <span class="msg" id="_validationMessage"></span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function AjaxLogin() {
            var Name = $("#Name").val();
            var Password = $("#Password").val();
            if (Name.length <= 1) {
                $("#_validationMessage").html("用户名不能为空!");
                $("#Name").focus();
                return;
            }
            if (Password.length <= 1) {
                $("#_validationMessage").html("密码不能为空!");
                $("#Password").focus();
                return;
            }
            $.ajax({
                type: "get",
                url: "AjaxLogin",
                data: 'name=' + escape(Name) + '&password=' + Password,
                dataType: "json",
                success: function (result, textStatus) {
                    if (result != "") {
                        if (result.Success) {
                            window.location.href = result.Message;
                        } else {
                            alert(result.Message)
                        }
                    } else {
                        alert("找不到此会员信息。")
                    }
                    return;
                }
            });
        }
    </script>
</body>
</html>
