<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0" />
    @using LCL.MvcExtensions;
    @using UIShell.RbacManagementPlugin;
    @using UIShell.RbacPermissionService;
    @{
        Layout = null;
    }
    <title>@LAppliction.Config.AppName</title>
    <link href="/Plugins/UIShell.RbacManagementPlugin/Content/Login/css/body.css" rel="stylesheet" type="text/css" />
    <script src="/Plugins/UIShell.EasyUIAdminShellPlugin/Content/JQueryEasyUI/jquery.min.js"></script>
</head>
<body class="login_bgs">
    <noscript>
        <div style=" position:absolute; z-index:100000; height:2046px;top:0px;left:0px; width:100%; background:white; text-align:center;">
            <img src="/Plugins/UIShell.EasyUIAdminShellPlugin/Content/images/noscript.gif" alt='抱歉，请开启脚本支持！' />
        </div>
    </noscript>
    <div id="loading-mask" style="position:absolute;top:0px; left:0px; width:100%; height:100%; background:#D2E0F2; z-index:20000">
        <div id="pageloading" style="position:absolute; top:50%; left:50%; margin:-120px 0px 0px -120px;  ">
            <img src="/Plugins/UIShell.EasyUIAdminShellPlugin/Content/images/1.gif" alt='正在加载中,请稍候.' />
        </div>
    </div>
    <div class="login_bg">
        <div class="login_tit">
            <img src="/Plugins/UIShell.RbacManagementPlugin/Content/Login/images/logn_tit.png" width="284" height="30" alt="login_tit" />
        </div>
        <div class="yanzheng"></div>
        <table cellpadding="0" cellspacing="0" class="login_tab">
            <tr>
                <td width="69" class="login_info">账号：</td>
                <td colspan="3"><input id="Name" name="Name" type="text" class="width170" /></td>
            </tr>
            <tr>
                <td class="login_info">密码：</td>
                <td colspan="3"><input id="Password" name="Password" type="password" class="width170" /></td>
            </tr>
            <tr>
                <td class="login_info"></td>
                <td colspan="4" align="left"><div class="jzzh"><input type="checkbox" />记住账号<a href="#">忘记密码？</a></div></td>

            </tr>
            <tr>
                <td></td>
                <td colspan="2" class="login_box">
                    <input id="butLogin" type="button" value="" class="login_bt" onclick="AjaxLogin();" /> <div class="login_gif"></div>
                </td>
            </tr>

        </table>
    </div>
    <div class="advice_fbl">建议使用1024*768分辨率</div>
    <div class="login_bgd"></div>
    <script type="text/javascript">
        //判断显示用户登录的时候显示整个页面
        if (window.parent.window != window) {
            window.top.location.href = "/UIShell.EasyUIAdminShellPlugin/Home/Index";
        }
        //回车键
        document.onkeydown = function (e) {
            if (!e) e = window.event; //火狐中是 window.event
            if ((e.keyCode || e.which) == 13) {
                var btlogin = document.getElementById("butLogin");
                btlogin.focus();
                btlogin.click();
            }
        }
        window.onload = function () {
            $('#loading-mask').fadeOut();
        }
        $("#Name").focus();
        function AjaxLogin() {
            var Name = $("#Name").val();
            var Password = $("#Password").val();
            if (Name.length <= 1) {
                $(".yanzheng").html("用户名不能为空!");
                $("#Name").focus();
                return;
            }
            if (Password.length <= 1) {
                $(".yanzheng").html("密码不能为空!");
                $("#Password").focus();
                return;
            }
            $('#butLogin').attr('disabled', "true");
            $.ajax({
                type: "get",
                url: "AjaxLogin",
                data: 'name=' + escape(Name) + '&password=' + Password,
                dataType: "json",
                success: function (result, textStatus) {
                    if (result != "") {
                        if (result.Success) {
                            window.location.href = result.Message;
                        } else {
                            alert(result.Message)
                            $('#butLogin').removeattr("disabled");
                        }
                    } else {
                        alert("找不到此会员信息。")
                        $('#butLogin').removeattr("disabled");
                    }
                    return;
                }
            });
        }
    </script>
</body>
</html>
