<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0" />
    @using LCL.MvcExtensions;
    @using UIShell.RbacManagementPlugin;
    @using UIShell.RbacPermissionService;
    @{
        Layout = null;
    }
    <title>@LAppliction.Config.AppName</title>
    <link rel="stylesheet" type="text/css" href="@(Url.BundleContent("UIShell.RbacManagementPlugin", "Content/Login/css/body.css"))" />
    <script src="@(Url.BundleContent(BundleActivator.Bundle, "Content/JQueryEasyUI/jquery.min.js"))"></script>
</head>
<body class="login_bgs">
    <div class="login_bg">
        <div class="login_tit">
            <img src="@(Url.BundleContent("UIShell.RbacManagementPlugin", "Content/Login/images/logn_tit.png"))" width="284" height="30" alt="login_tit" />
        </div>
        <div class="yanzheng"></div>
        <table cellpadding="0" cellspacing="0" class="login_tab">
            <tr>
                <td width="69" class="login_info">账号：</td>
                <td colspan="3"><input id="Name" name="Name" type="text" class="width170" /></td>
            </tr>
            <tr>
                <td class="login_info">密码：</td>
                <td colspan="3"><input id="Password" name="Password" type="password" class="width170" /></td>
            </tr>
            <tr>
                <td class="login_info"></td>
                <td colspan="4" align="left"><div class="jzzh"><input type="checkbox" />记住账号<a href="#">忘记密码？</a></div></td>

            </tr>
            <tr>
                <td></td>
                <td colspan="2" class="login_box"><input type="submit" value="" class="login_bt" onclick="AjaxLogin();" /> <div class="login_gif"></div></td>
            </tr>

        </table>
    </div>
    <div class="advice_fbl">建议使用1024*768分辨率</div>
    <div class="login_bgd"></div>
    <script type="text/javascript">
        //判断显示用户登录的时候显示整个页面
        if (window.parent.window != window) {
            window.top.location.href = "/Home/Index";
        }

        function AjaxLogin() {
            var Name = $("#Name").val();
            var Password = $("#Password").val();
            if (Name.length <= 1) {
                $(".yanzheng").html("用户名不能为空!");
                $("#Name").focus();
                return;
            }
            if (Password.length <= 1) {
                $(".yanzheng").html("密码不能为空!");
                $("#Password").focus();
                return;
            }
            $.ajax({
                type: "get",
                url: "AjaxLogin",
                data: 'name=' + escape(Name) + '&password=' + Password,
                dataType: "json",
                success: function (result, textStatus) {
                    if (result != "") {
                        if (result.Success) {
                            window.location.href = result.Message;
                        } else {
                            alert(result.Message)
                        }
                    } else {
                        alert("找不到此会员信息。")
                    }
                    return;
                }
            });
        }
    </script>

</body>
</html>
