@using UIShell.RbacManagementPlugin;
@using LCL.MvcExtensions;
@model UIShell.RbacManagementPlugin.ViewModels.Account

@{
    ViewBag.Title = "系统登录";
    Layout = @Url.Content("../Shared/_SinglePageLayout.cshtml");

}
<div class="row">
    <div class="col-md-12">
        <div class="awidget login-reg">
            <div class="awidget-head">

            </div>
            <div class="awidget-body">
                <!-- Page title -->
                <div class="page-title text-center">
                    <h2>登&nbsp;&nbsp;录</h2>
                    <hr />
                </div>
                <!-- Page title -->
                <br />
                @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    <div class="form-group">
                        <label for="inputEmail1" class="col-lg-2 control-label">登录名</label>
                        <div class="col-lg-10">
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @placeholder = "用户名" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword1" class="col-lg-2 control-label">密码</label>
                        <div class="col-lg-10">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "密码" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                            <button type="submit" class="btn btn-info">登录</button>
                            <button type="reset" class="btn btn-default">重置</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>



