<div class="easyui-layout" fit="true" id="tb">
    <div data-options="region:'north'" style="padding: 1px; height:70px;">
        <!-------------------------------搜索框----------------------------------->
        <fieldset>
            <legend id="search_title">信息查询</legend>
            <div id="ui_wfrout_search" style="margin-bottom:5px">
                <label id="search_key">搜:</label>
                <input type="text" name="Keyword" id="Keyword" class="easyui-textbox" style="width: 220px; height: 25px; text-align: center;" placeholder="请输入" />
                &nbsp;
                <a id="btnSearchwfrout" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search">查询</a>&nbsp;
            </div>
        </fieldset>
    </div>
    <div data-options="region:'center'">
        <!-------------------------------详细信息展示表格----------------------------------->
        <table id="grid_wfrout" data-options="iconCls:'icon-view'" fit="true"></table>
        <!--   弹出框       -->
        <div id="win_wfrout" iconcls="icon-edit" style="width: 600px; height: 380px; padding: 5px;background: #fafafa;">
            <form id="ffwfrout" method="post">
                <table class="tb_searchbar">
                    <tbody>
                        <tr>
                            <td class="td_title"><label style="color: black" id="ff_lab_wfrout_name">流程描述</label></td>
                            <td>
                                <input type="text" id="wfrout_Entity_Name" name="wfrout_EntityName" value="" style="width:310px" data-options="required:true" maxlength="50" tabindex="1" />
                            </td>
                        </tr>
                        <tr>
                            <td class="td_title"><label style="color: black" id="ff_lab_wfrout_deptid">部门ID</label></td>
                            <td>
                                <input type="text" id="wfrout_Entity_DeptId" name="wfrout_EntityDeptId" value="" style="width:310px" data-options="required:true" maxlength="16" tabindex="2" />
                            </td>
                        </tr>
                        <tr>
                            <td class="td_title"><label style="color: black" id="ff_lab_wfrout_version">版本号</label></td>
                            <td>
                                <input type="text" id="wfrout_Entity_Version" name="wfrout_EntityVersion" value="" style="width:310px" data-options="required:true" maxlength="50" tabindex="3" />
                            </td>
                        </tr>
                        <tr>
                            <td class="td_title"><label style="color: black" id="ff_lab_wfrout_state">状态</label></td>
                            <td>
                                <input type="text" id="wfrout_Entity_State" name="wfrout_EntityState" value="" style="width:310px" data-options="required:true" maxlength="4" tabindex="4" />
                            </td>
                        </tr>
                        <tr>
                            <td class="td_title"><label style="color: black" id="ff_lab_wfrout_isenable">是否启用</label></td>
                            <td>
                                <input type="radio" id="wfrout_Entity_IsEnable1" name="wfrout_Entity_IsEnable" value="true" checked tabindex="5" />是
                                <input type="radio" id="wfrout_Entity_IsEnable2" name="wfrout_Entity_IsEnable" value="false" tabindex="5" />否
                            </td>
                        </tr>
                        <tr>
                            <td colspan='2'>
                                <input type='hidden' id='wfrout_Entity_ID' name='wfrout_EntityID' value='' />
                                <input type='hidden' id='wfrout_Entity_IsDelete' name='wfrout_EntityIsDelete' value='' />
                                <input type='hidden' id='wfrout_Entity_AddDate' name='wfrout_EntityAddDate' value='' />
                                <input type='hidden' id='wfrout_Entity_UpdateDate' name='wfrout_EntityUpdateDate' value='' />
                            <td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
        <div id="dlg"></div>
    </div>
</div>
@section scripts{
    <script src="/Plugins/UIShell.RbacManagementPlugin/ViewScript/wfrout.cshtml.LanguageResource.js" type="text/javascript"></script>
    <script src="/Plugins/UIShell.RbacManagementPlugin/ViewScript/wfrout.cshtml.js" type="text/javascript"></script>
}

