<div class="easyui-layout" fit="true" id="tb"> 
    <div data-options="region:'north'" style="padding: 1px; height:70px;"> 
        <!-------------------------------搜索框-----------------------------------> 
        <fieldset> 
            <legend id="search_title">信息查询</legend> 
            <form id="ffSearchhostconfig" method="post"> 
                <div id="toolbar" style="margin-bottom:5px"> 
                    <label for="Keyword" id="search_key">搜:</label> 
                    <input type="text" name="Keyword" id="Keyword" class="easyui-textbox" style="width: 220px; height: 25px; text-align: center;" placeholder="请输入" /> 
                    &nbsp; 
                    <a id="btnSearchhostconfig" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search">查询</a>&nbsp; 
                </div> 
            </form> 
        </fieldset> 
    </div> 
    <div data-options="region:'center'"> 
        <!-------------------------------详细信息展示表格-----------------------------------> 
        <table id="grid_hostconfig" title="配置文件服务器信息" toolbar="#tbar_hostconfig" data-options="iconCls:'icon-view'" fit="true"></table> 
   <!--   弹出框       --> 
        <div id="win_hostconfig"  style="padding: 5px;background: #fafafa;" >  
            <div class="easyui-layout" fit="true"> 
               <form id="ffhostconfig" method="post" ajax="true">
<table class="tb_searchbar"> 
 <tbody> 
                <tr> 
                    <td class="td_title"><label style="color: black" id="ff_lab_hostconfig_name">主机名称<span style="color:red;">*</span></label></td> 
                    <td> 
                        <input type="text" id="hostconfig_Entity_Name" name="hostconfig_EntityName" value="  " style="width:310px"  data-options="required:true" class="easyui-validatebox"  maxlength="50" tabindex="1" /> 
                    </td> 
                </tr> 
                <tr> 
                    <td class="td_title"><label style="color: black" id="ff_lab_hostconfig_ip">主机IP<span style="color:red;">*</span></label></td> 
                    <td> 
                        <input type="text" id="hostconfig_Entity_IP" name="hostconfig_EntityIP" value="  " style="width:310px"  data-options="required:true" class="easyui-validatebox"  maxlength="50" tabindex="2" /> 
                    </td> 
                </tr> 
                <tr> 
                    <td class="td_title"><label style="color: black" id="ff_lab_hostconfig_addess">服务器地点<span style="color:red;">*</span></label></td> 
                    <td> 
                        <input type="text" id="hostconfig_Entity_Addess" name="hostconfig_EntityAddess" value="  " style="width:310px"  data-options="required:true" class="easyui-validatebox"  maxlength="50" tabindex="3" /> 
                    </td> 
                </tr> 
                <tr> 
                    <td class="td_title"><label style="color: black" id="ff_lab_hostconfig_ftpuser">FTP用户<span style="color:red;">*</span></label></td> 
                    <td> 
                        <input type="text" id="hostconfig_Entity_FtpUser" name="hostconfig_EntityFtpUser" value="  " style="width:310px"  data-options="required:true" class="easyui-validatebox"  maxlength="50" tabindex="4" /> 
                    </td> 
                </tr> 
                <tr> 
                    <td class="td_title"><label style="color: black" id="ff_lab_hostconfig_ftppassword">FTP密码<span style="color:red;">*</span></label></td> 
                    <td> 
                        <input type="text" id="hostconfig_Entity_FtpPassword" name="hostconfig_EntityFtpPassword" value="  " style="width:310px"  data-options="required:true" class="easyui-validatebox"  maxlength="50" tabindex="5" /> 
                    </td> 
                </tr> 
                <tr> 
                    <td class="td_title"><label style="color: black" id="ff_lab_hostconfig_netdisk">该文件服务器在WEBSERVER上的网络映射盘<span style="color:red;">*</span></label></td> 
                    <td> 
                        <input type="text" id="hostconfig_Entity_Netdisk" name="hostconfig_EntityNetdisk" value="  " style="width:310px"  data-options="required:true" class="easyui-validatebox"  maxlength="50" tabindex="6" /> 
                    </td> 
                </tr> 
                <tr> 
                    <td class="td_title"><label style="color: black" id="ff_lab_hostconfig_flag">有效标志</label></td> 
                    <td> 
                        <input type="radio" id="hostconfig_Entity_Flag1" name="hostconfig_Entity_Flag" value="true" checked tabindex="7" />是
                        <input type="radio" id="hostconfig_Entity_Flag2" name="hostconfig_Entity_Flag" value="false" tabindex="7" />否
                    </td> 
                </tr> 
                <tr> 
                    <td class="td_title"><label style="color: black" id="ff_lab_hostconfig_shareddirname">共享目录名<span style="color:red;">*</span></label></td> 
                    <td> 
                        <input type="text" id="hostconfig_Entity_SharedDirName" name="hostconfig_EntitySharedDirName" value="  " style="width:310px"  data-options="required:true" class="easyui-validatebox"  maxlength="50" tabindex="8" /> 
                    </td> 
                </tr> 
                <tr> 
                    <td class="td_title"><label style="color: black" id="ff_lab_hostconfig_shareddiruser">共享目录访问帐户<span style="color:red;">*</span></label></td> 
                    <td> 
                        <input type="text" id="hostconfig_Entity_SharedDirUser" name="hostconfig_EntitySharedDirUser" value="  " style="width:310px"  data-options="required:true" class="easyui-validatebox"  maxlength="50" tabindex="9" /> 
                    </td> 
                </tr> 
                <tr> 
                    <td class="td_title"><label style="color: black" id="ff_lab_hostconfig_shareddirpassword">共享目录访问密码<span style="color:red;">*</span></label></td> 
                    <td> 
                        <input type="text" id="hostconfig_Entity_SharedDirPassword" name="hostconfig_EntitySharedDirPassword" value="  " style="width:310px"  data-options="required:true" class="easyui-validatebox"  maxlength="50" tabindex="10" /> 
                    </td> 
                </tr> 
<tr><td  colspan='2'><input type='hidden' id='hostconfig_Entity_ID' name='hostconfig_EntityID' value='' />
<input type='hidden' id='hostconfig_Entity_IsDelete' name='hostconfig_EntityIsDelete' value='' />
<input type='hidden' id='hostconfig_Entity_AddDate' name='hostconfig_EntityAddDate' value='' />
<input type='hidden' id='hostconfig_Entity_UpdateDate' name='hostconfig_EntityUpdateDate' value='' />
<td></tr>
 </tbody> 
</table> 

               </form>
            </div> 
        </div> 
    </div> 
</div> 
@section scripts{ 
  <script src="/Plugins/UIShell.RbacManagementPlugin/ViewScript/hostconfig.cshtml.LanguageResource.js" type="text/javascript"></script> 
  <script src="/Plugins/UIShell.RbacManagementPlugin/ViewScript/hostconfig.cshtml.js" type="text/javascript"></script> 
} 

