<div class="easyui-layout" fit="true" id="tb">
    <fieldset>
        <legend id="search_title">处理方式</legend>
        <form id="ffSearchwftasklist" method="post">
            <table class="tb_searchbar" cellspacing="1" cellpadding="0" border="0">
                <tr>
                    <td class="td_title" nowrap>
                        <label style="color: black" id="labModelCode">
                            处理意见
                        </label>
                    </td>
                    <td class="td_detail">
                        <textarea style="width: 90%; height: 70px" id="txaHandMsg" title="" rows="5"></textarea>
                    </td>
                </tr>
                <tr>
                    <td class="td_title" nowrap>
                        <label style="color: black" id="Label1">
                            处理方式
                        </label>
                    </td>
                    <td class="td_detail">
                        <input type="radio" id="Text1" name="txtOrgName" checked value="1" />同意
                        <input type="radio" id="Text2" name="txtOrgName" value="0" />拒绝
                    </td>
                </tr>
            </table>
        </form>
    </fieldset>
</div>

