<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    @using LCL.MvcExtensions;
    @using UIShell.EasyUIAdminShellPlugin;
    @using UIShell.RbacPermissionService;
    <meta charset="UTF-8" />
    <!-- Title here -->
    <title>@LAppliction.Config.CompanyName</title>
    <!-- Description, Keywords and Author -->
    <meta name="keywords" content="MVC,EasyUI,LCL,DDD,Domain,Services,Specifications,Events" />
    <meta name="description" content="ASP.NET MVC+EasyUI+LCL+插件构建的企业信息化快速开发框架,LCLFramework就是一套在.NET下支持面向领域驱动的软件系统管理类软件的快速开发框架" />
    <meta name="author" content="Luomg" />
    <meta name="copyright" content="All Rights Reserved, Copyright (C) 2015, luomg, Ltd." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="/Plugins/UIShell.EasyUIAdminShellPlugin/Content/JQueryEasyUI/themes/default/easyui.css" />
    <link rel="stylesheet" type="text/css" href="/Plugins/UIShell.EasyUIAdminShellPlugin/Content/JQueryEasyUI/themes/icon.css" />
    <link rel="stylesheet" type="text/css" href="/Plugins/UIShell.EasyUIAdminShellPlugin/Content/easyuiDefault.css" />
    <link rel="stylesheet" type="text/css" href="/Plugins/UIShell.EasyUIAdminShellPlugin/Content/icons.css" />
    <!--加载easyui JS-->
    <script src="/Plugins/UIShell.EasyUIAdminShellPlugin/Scripts/jquery-1.8.0.min.js" charset="utf-8"></script>
    <script src="/Plugins/UIShell.EasyUIAdminShellPlugin/Content/JQueryEasyUI/jquery.min.js" charset="utf-8"></script>
    <script src="/Plugins/UIShell.EasyUIAdminShellPlugin/Content/JQueryEasyUI/jquery.easyui.min.js" charset="utf-8"></script>
    <script src="/Plugins/UIShell.EasyUIAdminShellPlugin/Content/JQueryEasyUI/locale/easyui-lang-zh_CN.js" charset="utf-8"></script>
    <!--加载LCL JS-->
    <script src="/Plugins/UIShell.EasyUIAdminShellPlugin/Content/Core/LCL.JQuery.Base.js" type="text/javascript" charset="utf-8"></script>
    <script src="/Plugins/UIShell.EasyUIAdminShellPlugin/Content/Core/LCL.JQuery.Core.js" type="text/javascript" charset="utf-8"></script>
    <script src="/Plugins/UIShell.EasyUIAdminShellPlugin/Content/Core/LCL.JQuery.Plugins.js" type="text/javascript" charset="utf-8"></script>
    <script src="/Plugins/UIShell.EasyUIAdminShellPlugin/Content/Core/LCL.JQuery.JSON.js" type="text/javascript" charset="utf-8"></script>
    <script src="/Plugins/UIShell.EasyUIAdminShellPlugin/Content/Core/LCL.PageModel.js" type="text/javascript" charset="utf-8"></script>
    <script src="/Plugins/UIShell.EasyUIAdminShellPlugin/Content/jquery.easyui.common.js" type="text/javascript" charset="utf-8"></script>
    <!-- Favicon -->
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    @RenderSection("header", required: false)
</head>
<body style="overflow: hidden; overflow-y: hidden; overflow-x: hidden;" scroll="no" class="easyui-layout" fit="true">
    <div id="loading-mask" style="position:absolute;top:0px; left:0px; width:100%; height:100%; background:#D2E0F2; z-index:20000">
        <div id="pageloading" style="position:absolute; top:50%; left:50%; margin:-120px 0px 0px -120px;  ">
            <img src="/Plugins/UIShell.EasyUIAdminShellPlugin/Content/images/1.gif" alt='正在加载中,请稍候.' />
        </div>
    </div>
    @RenderBody()
    @RenderSection("scripts", required: false)
</body>
</html>

