@{
    ViewBag.Title = "没有权限";
}
<!-- Page title -->
<div class="page-title">
    <h2><i class="icon-desktop color"></i> 没有权限 <small>没有足够权限来操作</small></h2>
    <hr />
</div>
<!-- Page title -->

<div class="row">
    <!--col-md-6 start-->
    <div class="col-md-12 alert alert-warning">
        非常抱歉，您没有足够权限来进行此项操作。
    </div>
</div>