@using LCL.MvcExtensions;
@using UIShell.RbacPermissionService;
@{
    ViewBag.Title = "单位管理";
}
<div data-options="region:'west',title:'单位管理'" style="width: 200px;">
    <ul id="uitree" class="easyui-tree"></ul>
</div>
<div data-options="region:'center',title:'单位管理'" style="padding: 5px; overflow-y: hidden;">
    <div id="p" class="easyui-panel" style="width: 100%; height:450px; padding: 10px; " data-options="iconCls:'icon-save'">
    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            LCLTree.showTree();
            LCLTree.add();

        });
        var LCLTree = {
            showTree: function () {
                $('#uitree').tree({
                    url: 'AjaxEasyUITree_Department',
                    lines: true,
                    onClick: function (node) {
                        var cc = node.id;
                        dicType = cc;
                        LCLTree.edit();
                    },
                    onExpand: function (node) {
                        $(".icon-company.tree-folder-open").css("background", ".icon-blue-tree-folder-open");
                    },
                    onCollapse: function (node) {
                        $(".icon-company").css("background", ".icon-blue-tree-folder");
                        $(".icon-company.tree-folder-open").css("background", ".icon-blue-tree-folder-open");
                    }
                });
            },
            reload: function () {
                $('#uitree').tree('reload');
            },
            getSelected: function () {
                return $('#uitree').tree('getSelected');
            },
            add: function () {
                $('#p').panel({
                    href: 'AddOrEdit'
                });
            },
            edit: function () {
                $('#p').panel({
                    href: 'AddOrEdit?id=' + trim(dicType)
                });
            },
            del: function () {
                var node = LCLTree.getSelected();
                if (node) {
                    $.messager.confirm('确认', '确认要删除选中记录吗?', function (y) {
                        if (y) {
                            //提交
                            $.post('AjaxDelete/', node.id,
                            function (msg) {
                                if (msg.Success) {
                                    $.messager.alert('提示', msg.Message, 'info', function () {
                                        //重新加载当前页
                                        $('#grid').datagrid('reload');
                                    });
                                } else {
                                    $.messager.alert('提示', msg.Message, 'info')
                                }
                            }, "json");
                        }
                    });
                }
                else {
                    alert('请选择');
                }
                return false;
            }
        }

    </script>
}

