@using LCL.MvcExtensions;
@{
    ViewBag.Title = "行政区域";
}
<div class="easyui-layout" fit="true" id="tb">
    <div data-options="region:'west',title:'行政区域'" style="width: 200px;">
        <ul id="uitree" class="easyui-tree"></ul>
    </div>
    <div data-options="region:'center',title:'行政区域管理'" style="padding: 5px; overflow-y: hidden;">
        <div style="background: #efefef; width: 100%; border-bottom: #99bbe8 1px solid;">
            <a id="a_addCategory" href="javascript:;" plain="true" class="easyui-linkbutton" icon="icon-add">新增下级</a>&nbsp;
            <a id="a_delCategory" href="javascript:;" plain="true" class="easyui-linkbutton" icon="icon-remove">删除</a>&nbsp;
            <a id="a_editCategory" href="javascript:;" plain="true" class="easyui-linkbutton" icon="icon-save">保存</a>&nbsp;
        </div>
        <table class="tb_searchbar">
            <tbody>
                <tr>
                    <td class="td_title">
                        上级区划
                    </td>
                    <td>
                        <input id="parentid" type="hidden" readonly />
                        <input id="parentname" disabled type="text" readonly style="width:310px" />
                        <input type="hidden" id="Entity_ID" name="Entity.ID" value="" />
                    </td>
                </tr>
                <tr>
                    <td class="td_title">
                        区划代码
                    </td>
                    <td>
                        <input type="text" id="Entity_HelperCode" name="Entity.HelperCode" style="width:310px" value="" data-options="required:true" />
                    </td>
                </tr>
                <tr>
                    <td class="td_title">
                        区划名称
                    </td>
                    <td>
                        <input type="text" id="Entity_Name" name="Entity.Name" value="" style="width:310px" data-options="required:true" />
                    </td>
                </tr>
                <tr>
                    <td class="td_title">
                        区划介绍
                    </td>
                    <td>
                        <textarea id="Entity_Intro" name="Entity.Intro" cols="30" rows="20" style="width:410px;height:222px;"></textarea>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>
<script src="@(Url.BundleContent("UIShell.RbacManagementPlugin", "Scripts/Xzqy.js"))"></script>
