@using LCL.MvcExtensions;
@{
    ViewBag.Title = "行政区域";
}
<div data-options="region:'west',title:'行政区域'" style="width: 200px;">
    <ul id="uitree" class="easyui-tree"></ul>
</div>
<div data-options="region:'center',title:'行政区域管理'" style="padding: 5px; overflow-y: hidden;">
    <div style="background: #efefef; width: 100%; border-bottom: #99bbe8 1px solid;">
        <a id="a_addCategory" href="javascript:;" plain="true" class="easyui-linkbutton" icon="icon-add">新增下级</a>&nbsp;
        <a id="a_delCategory" href="javascript:;" plain="true" class="easyui-linkbutton" icon="icon-remove">删除</a>&nbsp;
        <a id="a_editCategory" href="javascript:;" plain="true" class="easyui-linkbutton" icon="icon-save">保存</a>&nbsp;
    </div>
    <table class="tb_searchbar">
        <tbody>
            <tr>
                <td class="td_title">
                    上级区划
                </td>
                <td>
                    <input id="parentid" class="change" type="hidden" readonly />
                    <input id="parentname" class="change" disabled type="text" readonly style="width:310px" />
                    <input type="hidden" id="Entity_ID" name="Entity.ID" value="" />
                    <input type="hidden" id="Entity_ParentId" name="Entity.ParentId" value="" />
                    <input type="hidden" id="Entity_NodePath" name="Entity.NodePath" value="" />
                    <input type="hidden" id="Entity_OrderBy" name="Entity.OrderBy" value="" />
                    <input type="hidden" id="Entity_Level" name="Entity.Level" value="" />
                    <input type="hidden" id="Entity_IsLast" name="Entity.IsLast" value="" />
                </td>
            </tr>
            <tr>
                <td class="td_title">
                    区划代码
                </td>
                <td>
                    <input type="text" id="Entity_HelperCode" name="Entity.HelperCode" value="" data-options="required:true" />
                </td>
            </tr>
            <tr>
                <td class="td_title">
                    区划名称
                </td>
                <td>
                    <input type="text" id="Entity_Name" name="Entity.Name" value="" data-options="required:true" />
                </td>
            </tr>
            <tr>
                <td class="td_title">
                    区划介绍
                </td>
                <td>
                    <textarea id="Entity_Intro" name="Entity.Intro" cols="80" rows="20"></textarea>
                </td>
            </tr>

        </tbody>
    </table>
</div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            DicCategory.showTree(); //显示数据字典列表树

            var heightMargin = $("#toolbar").height() + 60;
            var widthMargin = $(document.body).width() - $("#tb").width();
            // 第一次加载时和当窗口大小发生变化时，自动变化大小
            $('#grid').resizeDataGrid(heightMargin, widthMargin, 0, 0);
            $(window).resize(function () {
                $('#grid').resizeDataGrid(heightMargin, widthMargin, 0, 0);
            });


        });
        var DicCategory = {
            showTree: function () {
                $('#uitree').tree({
                    url: 'AjaxEasyUITree',
                    lines: true,
                    onClick: function (node) {
                        var cc = node.id;
                        dicType = cc;
                        //mygrid.reload(cc);
                        $('#Entity_HelperCode').val(node.text);
                        $('#Entity_Name').val(node.text);
                        $('#Entity_Intro').val(node.text);
                    }
                });
            },
            reload: function () {
                $('#dataDicType').tree('reload');
            },
            getSelected: function () {
                return $('#dataDicType').tree('getSelected');
            },
            add: function () {
                var d = $('#dlg').dialog({
                    title: '添加',
                    width: 500,
                    height: 280,
                    closed: true,
                    cache: false,
                    href: 'AddOrEdit',
                    iconCls: 'icon-add',
                    modal: true,
                    onClose: function () {
                        reload();
                    }
                });
                $("#dlg").dialog("open");
            },
            edit: function () {
                var node = DicCategory.getSelected();
                if (node) {
                    $('#dlg').dialog({
                        title: '修改',
                        width: 500,
                        height: 280,
                        closed: true,
                        cache: false,
                        href: 'AddOrEdit?id=' + trim(row.ID),
                        iconCls: 'icon-edit',
                        modal: true,
                        onClose: function () {
                            reload();
                        }
                    });
                    $("#dlg").dialog("open");
                }
                else {
                    alert('请选择字典类别');
                }
                return false;
            },
            del: function () {
                var node = DicCategory.getSelected();
                var rows = $('#dicGrid').datagrid('getData');
                if (rows && rows.total > 0) {
                    alert('当前字典有明细数据，不能删除。请先删除明细数据。');
                    return false;
                }
                if (node) {
                    var childs = $('#dataDicType').tree('getChildren', node.target);
                    if (childs && childs.length > 0) {
                        alert('当前字典有下级数据，不能删除。请先删除子节点数据。');
                        return false;
                    }

                    $.messager.confirm('确认', '确认要删除选中记录吗?', function (y) {
                        if (y) {
                            //提交
                            $.post('AjaxDelete/', node.id,
                            function (msg) {
                                if (msg.Success) {
                                    $.messager.alert('提示', msg.Message, 'info', function () {
                                        //重新加载当前页
                                        $('#grid').datagrid('reload');
                                    });
                                } else {
                                    $.messager.alert('提示', msg.Message, 'info')
                                }
                            }, "json");
                        }
                    });

                }
                else {
                    alert('请选择字典类别');
                }
                return false;
            }
        }
        //获取左边已选择的部门数据
        function getselectd() {
            var node = $('#depttree').tree('getSelected');
            if (!node) {
                alert("请选择部门");
                return;
            }
            selectnode = node;
            return node;
        }
    </script>
}

