@using LCL.MvcExtensions;
@{
    ViewBag.Title = "行政区域";
}
<div data-options="region:'west',title:'行政区域'" style="width: 200px;">
    <ul id="uitree" class="easyui-tree"></ul>
</div>
<div data-options="region:'center',title:'行政区域管理'" style="padding: 5px; overflow-y: hidden;">
    <div style="background: #efefef; width: 100%; border-bottom: #99bbe8 1px solid;">
        <a id="a_addCategory" href="javascript:;" plain="true" class="easyui-linkbutton" icon="icon-add" onclick="LCL.add();">新增下级</a>&nbsp;
        <a id="a_delCategory" href="javascript:;" plain="true" class="easyui-linkbutton" icon="icon-remove" onclick="LCL.del();">删除</a>&nbsp;
        <a id="a_editCategory" href="javascript:;" plain="true" class="easyui-linkbutton" icon="icon-save" onclick="LCL.save();">保存</a>&nbsp;
    </div>
    <table class="tb_searchbar">
        <tbody>
            <tr>
                <td class="td_title">
                    上级区划
                </td>
                <td>
                    <input id="parentid" class="change" type="hidden" readonly />
                    <input id="parentname" class="change" disabled type="text" readonly style="width:310px" />
                    <input type="hidden" id="Entity_ID" name="Entity.ID" value="" />
                </td>
            </tr>
            <tr>
                <td class="td_title">
                    区划代码
                </td>
                <td>
                    <input type="text" id="Entity_HelperCode" name="Entity.HelperCode" style="width:310px" value="" data-options="required:true" />
                </td>
            </tr>
            <tr>
                <td class="td_title">
                    区划名称
                </td>
                <td>
                    <input type="text" id="Entity_Name" name="Entity.Name" value="" style="width:310px" data-options="required:true" />
                </td>
            </tr>
            <tr>
                <td class="td_title">
                    区划介绍
                </td>
                <td>
                    <textarea id="Entity_Intro" name="Entity.Intro" cols="75" rows="20"></textarea>
                </td>
            </tr>

        </tbody>
    </table>
</div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            LCL.showTree(); //显示数据字典列表树

            var heightMargin = $("#toolbar").height() + 60;
            var widthMargin = $(document.body).width() - $("#tb").width();
            // 第一次加载时和当窗口大小发生变化时，自动变化大小
            $('#grid').resizeDataGrid(heightMargin, widthMargin, 0, 0);
            $(window).resize(function () {
                $('#grid').resizeDataGrid(heightMargin, widthMargin, 0, 0);
            });
        });
        var dicType;
        var added = true;
        var LCL = {
            showTree: function () {
                $('#uitree').tree({
                    url: 'AjaxEasyUITree_Xzqy',
                    lines: true,
                    onClick: function (node) {
                        var cc = node.id;
                        dicType = cc;
                        added = false;
                        $('#parentid').val(node.parentId);
                        $('#parentname').val(node.parentName);
                        $('#Entity_ID').val(node.id);
                        $('#Entity_HelperCode').val(node.attributes.HelperCode);
                        $('#Entity_Name').val(node.text);
                        $('#Entity_Intro').val(node.attributes.Intro);
                    }
                });
            },
            reload: function () {
                $('#uitree').tree('reload');
            },
            getSelected: function () {
                var node = $('#uitree').tree('getSelected');
                if (!node) {
                    alert("请选择");
                    return;
                }
                selectnode = node;
                return node;
            },
            add: function () {
                var node = LCL.getSelected();
                if (node) {
                    //新增下级
                    added = true;
                    $('#parentid').val(node.id);
                    $('#parentname').val(node.text);
                    $('#Entity_ID').val("");
                    $('#Entity_HelperCode').val("");
                    $('#Entity_Name').val("");
                    $('#Entity_Intro').val("");
                }
            },
            save: function () {

                var ID = $("#Entity_ID").val();
                var HelperCode = $("#Entity_HelperCode").val();
                var Name = $("#Entity_Name").val();
                var Intro = $("#Entity_Intro").val();
                var PID = $("#parentid").val();
                if (HelperCode.length <= 1) {
                    $.messager.alert('系统消息', "区划代码不能为空.");
                    $("#Entity_HelperCode").focus();
                    return;
                }
                if (Name.length <= 1) {
                    $.messager.alert('系统消息', "区划名称不能为空.");
                    $("#Entity_Name").focus();
                    return;
                }

                if (added) {
                    $.post("AjaxAdd", { ID: ID, Name: Name, HelperCode: HelperCode, ParentId: PID, Intro: Intro }, function (data) {
                        $.messager.alert('系统消息', data.Message);
                        //重新加载当前页
                        LCL.reload();
                    }, "json");
                } else {
                    $.post("AjaxEdit", { ID: ID, Name: Name, HelperCode: HelperCode, ParentId: PID, Intro: Intro }, function (data) {
                        $.messager.alert('系统消息', data.Message);
                        //重新加载当前页
                        LCL.reload();
                    }, "json");
                }
            },
            del: function () {
                var node = LCL.getSelected();
                if (node) {
                    var childs = $('#dataDicType').tree('getChildren', node.target);
                    if (childs && childs.length > 0) {
                        alert('当前有下级数据，不能删除。请先删除子节点数据。');
                        return false;
                    }
                    $.messager.confirm('确认', '确认要删除选中记录吗?', function (y) {
                        if (y) {
                            //提交
                            $.post('AjaxDelete/', node.id,
                            function (msg) {
                                if (msg.Success) {
                                    $.messager.alert('提示', msg.Message, 'info', function () {
                                        //重新加载当前页
                                        LCL.reload();
                                    });
                                } else {
                                    $.messager.alert('提示', msg.Message, 'info')
                                }
                            }, "json");
                        }
                    });
                }
                else {
                    alert('请选择');
                }
                return false;
            }
        }
        //获取左边已选择的部门数据
        function getselectd() {
            var node = $('#uitree').tree('getSelected');
            if (!node) {
                alert("请选择");
                return;
            }
            selectnode = node;
            return node;
        }
    </script>
}

