<form id="form1" method="post" action="ImportBizLogic" enctype="multipart/form-data">
    <table class="tb_searchbar">
        <tr>
            <td width="10%" class="td_title">注意事项：</td>
            <td>
                1、请下载导入模板，然后完成数据，<a href="GetFile?templateName=xxxxxx">点此下载导入模板 </a> <br />
                2、注意模板列不可以变动,<br />
                3、导入过程中,可以联系技术QQ：103535734<br />
                4、只能导入当前组织的数据<br />
                5、路径和文件名不要出现中文和特殊字符<br />
            </td>
        </tr>
        <tr>
            <td width="10%" class="td_title">选择文件：</td>
            <td>
                <input id="icFileUpload" name="icFileUpload" type="file" accept="application/msexcel" style="width:600px;" />
            </td>
        </tr>
        <tr>
            <td class="td_title"></td>
            <td>
                <button id="butSubmit" type="submit" data-options="iconCls:'icon-upload'" class="easyui-linkbutton">
                    上 传
                </button>@if (Model != null)
                {
                    <p>@Model.Message</p>
                }
                else
                {
                    <p></p>
                }
            </td>
        </tr>
    </table>
</form>

<div class="content" style="color:Red">

</div>
@section scripts{
    <script type="text/javascript">
        ////页面入口
        //$(document).ready(function () {
        //    $('#icFileUpload').filebox({
        //        buttonText: '选择文件',
        //        buttonAlign: 'right',
        //        buttonIcon: 'icon-page-white-excel'
        //    });
        //});
        function ImportClient_FileUpload() {
            var filePath = $("#icFileUpload").filebox('getValue');
            if (filePath.length > 0) {
                $.post("ImportBizLogic?icFileUpload=" + filePath, function (resultData) {
                    $.messager.alert('警告', resultData.Message);
                }, 'json');
            } else {
                $.messager.alert('警告', '请选择文件');
            }
        }
    </script>
}
