@{
    ViewBag.Title = "编辑用户";
}

@using LCL.MvcExtensions
@using UIShell.RbacPermissionService
@model AddOrEditViewModel<User>
<div class="page-title">
    <h2>
        <i class="icon-desktop color"></i> 用户 <small>
            @{
                string actionTag = "";
                if (Model.Added) { actionTag = "新增一个用户"; } else { actionTag = "编辑一个用户"; }
            }@actionTag
        </small>
    </h2>
</div>
<table class="tb_searchbar">
    <tbody>
        <tr>
            <td class="td_title">
                上级单位
            </td>
            <td>
                <select id="cc" class="easyui-combotree" style="width:200px;"
                        data-options="url:'AjaxEasyUITree_Department'"></select>
            </td>
        </tr>
        <tr>
            <td class="td_title">
                名称
            </td>
            <td>
                <input type="text" id="Entity_Name" name="Entity.Name" style=" width:210px" value="@Model.Entity.Name" data-options="required:true" />
            </td>
        </tr>
        <tr>
            <td class="td_title">
                角色
            </td>
            <td>
                <label class="col-sm-2 control-label">所属角色</label>
                <div class="col-sm-10">
                    <input type="checkbox" />管理员
                    <input type="checkbox" />网点操作员
                    <input type="checkbox" />库存管理员
                    <input type="checkbox" />统计人员
                    <input type="checkbox" />纠察人员
                </div>
            </td>
        </tr>
        <tr>
            <td class="td_title">
                
            </td>
            <td>
                <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true" onclick="Save(@Model.Added)">保存</a>
                <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">重置</a>
                <a href="javascript:void(0)" />
            </td>
        </tr>
    </tbody>
</table>