<div class="easyui-layout" fit="true" id="tb">
    <div data-options="region:'north'" style="padding: 1px; height:70px;">
        <!-------------------------------搜索框----------------------------------->
        <fieldset>
            <legend id="search_title">信息查询</legend>
            <form id="ffSearchuser" method="post">
                <div id="toolbar" style="margin-bottom:5px">
                    <label for="Keyword" id="search_key">搜:</label>
                    <input type="text" name="Keyword" id="Keyword" class="easyui-textbox" style="width: 220px; height: 25px; text-align: center;" placeholder="请输入" />
                    &nbsp;
                    <a id="btnSearchuser" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search">查询</a>&nbsp;
                </div>
            </form>
        </fieldset>
    </div>
    <div data-options="region:'center'">
        <!-------------------------------详细信息展示表格----------------------------------->
        <table id="grid_user" data-options="iconCls:'icon-view'" fit="true"></table>
        <!--   弹出框       -->
        <div id="win_user" style="padding: 5px;background: #fafafa;">
            <div class="easyui-layout" fit="true">
                <form id="ffuser" method="post" ajax="true">
                    <table class="tb_searchbar">
                        <tbody>
                            <tr>
                                <td class="td_title"><label style="color: black" id="ff_lab_user_name">登录名称<span style="color:red;">*</span></label></td>
                                <td>
                                    <input type="text" id="user_Entity_Name" name="user_EntityName" value="" style="width:310px" data-options="required:true" class="easyui-validatebox" maxlength="50" tabindex="1" />
                                </td>
                                <td class="td_title"><label style="color: black" id="ff_lab_user_department_id">所属部门<span style="color:red;">*</span></label></td>
                                <td>
                                    <select id="user_Entity_Department_ID" class='easyui-combotree' data-options='url:"/UIShell.RbacManagementPlugin/Department/AjaxEasyUITree_Department"' style='width: 120px; height: 28px;' tabindex="16" class="easyui-validatebox"></select>
                                </td>
                            </tr>
                            <tr>
                                <td class="td_title"><label style="color: black" id="ff_lab_user_islockedout">是否锁定</label></td>
                                <td>
                                    <input type="radio" id="user_Entity_IsLockedOut1" name="user_Entity_IsLockedOut" value="true" checked tabindex="3" />是
                                    <input type="radio" id="user_Entity_IsLockedOut2" name="user_Entity_IsLockedOut" value="false" tabindex="3" />否
                                </td>
                                <td class="td_title"><label style="color: black" id="ff_lab_user_sex">性别<span style="color:red;">*</span></label></td>
                                <td>
                                    <input type="radio" id="user_Entity_Sex1" name="user_Entity_Sex" value="男" checked tabindex="4" /> 男
                                    <input type="radio" id="user_Entity_Sex2" name="user_Entity_Sex" value="女" tabindex="4" />女
                                </td>
                            </tr>
                            <tr>
                                <td class="td_title"><label style="color: black" id="ff_lab_user_userphoto">用户照片<span style="color:red;">*</span></label></td>
                                <td colspan="4">
                                    <input id="user_Entity_UserPhoto" name="user_EntityUserPhoto" buttontext="请选择" value="" style="width:310px" class="easyui-filebox" tabindex="4" />
                                </td>
                            </tr>
                            
                            <tr>
                                <td class="td_title"><label style="color: black" id="ff_lab_user_birthday">出生年月<span style="color:red;">*</span></label></td>
                                <td>
                                    <input type="text" id="user_Entity_Birthday" name="user_EntityBirthday" value="" style="width:310px" data-options="required:true" class="easyui-validatebox" maxlength="50" tabindex="6" />
                                </td>
                                <td class="td_title"><label style="color: black" id="ff_lab_user_nationalid">民族<span style="color:red;">*</span></label></td>
                                <td>
                                    <input type="text" id="user_Entity_NationalID" name="user_EntityNationalID" value="" style="width:310px" data-options="required:true" class="easyui-validatebox" maxlength="50" tabindex="7" />
                                </td>
                            </tr>
                            <tr>
                                <td class="td_title"><label style="color: black" id="ff_lab_user_politicalid">政治面貌<span style="color:red;">*</span></label></td>
                                <td>
                                    <input type="text" id="user_Entity_PoliticalID" name="user_EntityPoliticalID" value="" style="width:310px" data-options="required:true" class="easyui-validatebox" maxlength="50" tabindex="8" />
                                </td>
                                <td class="td_title"><label style="color: black" id="ff_lab_user_idcard">身份证号<span style="color:red;">*</span></label></td>
                                <td>
                                    <input type="text" id="user_Entity_IdCard" name="user_EntityIdCard" value="" style="width:310px" data-options="required:true" class="easyui-validatebox" maxlength="50" tabindex="9" />
                                </td>
                            </tr>
                            <tr>
                                <td class="td_title"><label style="color: black" id="ff_lab_user_telephone">电话<span style="color:red;">*</span></label></td>
                                <td>
                                    <input type="text" id="user_Entity_Telephone" name="user_EntityTelephone" value="" style="width:310px" data-options="required:true" class="easyui-validatebox" maxlength="50" tabindex="10" />
                                </td>
                                <td class="td_title"><label style="color: black" id="ff_lab_user_userqq">用户QQ<span style="color:red;">*</span></label></td>
                                <td>
                                    <input type="text" id="user_Entity_UserQQ" name="user_EntityUserQQ" value="" style="width:310px" data-options="required:true" class="easyui-validatebox" maxlength="50" tabindex="11" />
                                </td>
                            </tr>
                            <tr>
                                <td class="td_title"><label style="color: black" id="ff_lab_user_email">电子邮箱<span style="color:red;">*</span></label></td>
                                <td colspan="4">
                                    <input type="text" id="user_Entity_Email" name="user_EntityEmail" value="" style="width:310px" data-options="required:true" class="easyui-validatebox" maxlength="50" tabindex="12" />
                                </td>
                            </tr>
                            <tr>
                                <td colspan='4'>
                                    <input type='hidden' id='user_Entity_ID' name='user_EntityID' value='' />
                                    <input type='hidden' id='user_Entity_IsDelete' name='user_EntityIsDelete' value='' />
                                    <input type='hidden' id='user_Entity_AddDate' name='user_EntityAddDate' value='' />
                                    <input type='hidden' id='user_Entity_UpdateDate' name='user_EntityUpdateDate' value='' />
                                    <input type="hidden" id="user_Entity_Password" name="user_EntityPassword" value="123456" />
                                <td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="/Plugins/UIShell.RbacManagementPlugin/ViewScript/user.cshtml.LanguageResource.js" type="text/javascript"></script>
    <script src="/Plugins/UIShell.RbacManagementPlugin/ViewScript/user.cshtml.js" type="text/javascript"></script>
}

