<div class="easyui-layout" fit="true" id="tb"> 
    <div data-options="region:'west',title:'小区'" style="width: 200px;"> 
        <ul id="uitree_hm_village" class="easyui-tree"></ul> 
    </div> 
    <div data-options="region:'center',title:'小区'" style="padding: 5px; overflow-y: hidden;"> 
        <div style="background: #efefef; width: 100%; border-bottom: #99bbe8 1px solid;"> 
            <a id="btnAddhm_village" href="javascript:;" plain="true" class="easyui-linkbutton" icon="icon-add">新增下级</a>&nbsp; 
            <a id="btnDelhm_village" href="javascript:;" plain="true" class="easyui-linkbutton" icon="icon-remove">删除</a>&nbsp; 
            <a id="butSavehm_village" href="javascript:;" plain="true" class="easyui-linkbutton" icon="icon-save">保存</a>&nbsp; 
        </div> 
<table class="tb_searchbar"> 
 <tbody> 
                <tr> 
                    <td class="td_title"><label style="color: black" id="ff_lab_hm_village_name">小区名称<span style="color:red;">*</span></label></td> 
                    <td> 
                        <input type="text" id="hm_village_Entity_Name" name="hm_village_EntityName" value="  " style="width:310px"  data-options="required:true" class="easyui-validatebox"  maxlength="50" tabindex="1" /> 
                    </td> 
                </tr> 
                <tr> 
                    <td class="td_title"><label style="color: black" id="ff_lab_hm_village_pinyi">拼音简称<span style="color:red;">*</span></label></td> 
                    <td> 
                        <input type="text" id="hm_village_Entity_Pinyi" name="hm_village_EntityPinyi" value="  " style="width:310px"  data-options="required:true" class="easyui-validatebox"  maxlength="50" tabindex="2" /> 
                    </td> 
                </tr> 
                <tr> 
                    <td class="td_title"><label style="color: black" id="ff_lab_hm_village_type">小区类型</label></td> 
                    <td> 
                        <input type="text" id="hm_village_Entity_Type" name="hm_village_EntityType" value="  " style="width:310px"  maxlength="4" tabindex="3" /> 
                    </td> 
                </tr> 
                <tr> 
                    <td class="td_title"><label style="color: black" id="ff_lab_hm_village_enname">外文名称<span style="color:red;">*</span></label></td> 
                    <td> 
                        <input type="text" id="hm_village_Entity_EnName" name="hm_village_EntityEnName" value="  " style="width:310px"  data-options="required:true" class="easyui-validatebox"  maxlength="50" tabindex="4" /> 
                    </td> 
                </tr> 
                <tr> 
                    <td class="td_title"><label style="color: black" id="ff_lab_hm_village_alias">别名<span style="color:red;">*</span></label></td> 
                    <td> 
                        <input type="text" id="hm_village_Entity_Alias" name="hm_village_EntityAlias" value="  " style="width:310px"  data-options="required:true" class="easyui-validatebox"  maxlength="50" tabindex="5" /> 
                    </td> 
                </tr> 
                <tr> 
                    <td class="td_title"><label style="color: black" id="ff_lab_hm_village_population">人口</label></td> 
                    <td> 
                        <input type="text" id="hm_village_Entity_Population" name="hm_village_EntityPopulation" value="  " style="width:310px"  maxlength="4" tabindex="6" /> 
                    </td> 
                </tr> 
                <tr> 
                    <td class="td_title"><label style="color: black" id="ff_lab_hm_village_totalarea">面积</label></td> 
                    <td> 
                        <input type="text" id="hm_village_Entity_TotalArea" name="hm_village_EntityTotalArea" value="  " style="width:310px"  maxlength="4" tabindex="7" /> 
                    </td> 
                </tr> 
                <tr> 
                    <td class="td_title"><label style="color: black" id="ff_lab_hm_village_office">行政区域<span style="color:red;">*</span></label></td> 
                    <td> 
                        <input type="text" id="hm_village_Entity_Office" name="hm_village_EntityOffice" value="  " style="width:310px"  data-options="required:true" class="easyui-validatebox"  maxlength="50" tabindex="8" /> 
                    </td> 
                </tr> 
                <tr> 
                    <td class="td_title"><label style="color: black" id="ff_lab_hm_village_summary">概况<span style="color:red;">*</span></label></td> 
                    <td> 
                        <input type="text" id="hm_village_Entity_Summary" name="hm_village_EntitySummary" value="  " style="width:310px"  data-options="required:true" class="easyui-validatebox"  maxlength="50" tabindex="9" /> 
                    </td> 
                </tr> 
                <tr> 
                    <td class="td_title"><label style="color: black" id="ff_lab_hm_village_address">小区地址<span style="color:red;">*</span></label></td> 
                    <td> 
                        <input type="text" id="hm_village_Entity_Address" name="hm_village_EntityAddress" value="  " style="width:310px"  data-options="required:true" class="easyui-validatebox"  maxlength="50" tabindex="10" /> 
                    </td> 
                </tr> 
                <tr> 
                    <td class="td_title"><label style="color: black" id="ff_lab_hm_village_parentid">上一级</label></td> 
                    <td> 
                        <input type="text" id="hm_village_Entity_ParentId" name="hm_village_EntityParentId" value="  " style="width:310px"  maxlength="16" tabindex="15" /> 
                    </td> 
                </tr> 
<tr><td  colspan='1'><input type='hidden' id='hm_village_Entity_ID' name='hm_village_EntityID' value='' />
<input type='hidden' id='hm_village_Entity_IsLast' name='hm_village_EntityIsLast' value='' />
<input type='hidden' id='hm_village_Entity_Level' name='hm_village_EntityLevel' value='' />
<input type='hidden' id='hm_village_Entity_NodePath' name='hm_village_EntityNodePath' value='' />
<input type='hidden' id='hm_village_Entity_OrderBy' name='hm_village_EntityOrderBy' value='' />
<input type='hidden' id='hm_village_Entity_IsDelete' name='hm_village_EntityIsDelete' value='' />
<input type='hidden' id='hm_village_Entity_AddDate' name='hm_village_EntityAddDate' value='' />
<input type='hidden' id='hm_village_Entity_UpdateDate' name='hm_village_EntityUpdateDate' value='' />
<td></tr>
 </tbody> 
</table> 
    </div> 
</div> 
@section scripts{ 
    <script> 
        var root = "@(Url.BundlePContent("UIShell.HeatMeteringPlugin", "HM_Village"))/"; 
        var added = true; 
        var dicType; 
        var LCL_hm_village = { 
            showTree: function () { 
                $('#uitree_hm_village').tree({ 
                    url: root + 'AjaxEasyUITree_HM_Village', 
                    lines: true, 
                    onClick: function (node) { 
                        added = false; 
                        var cc = node.id; 
                        dicType = cc; 
                        $('#parentid').val(node.parentId); 
                        $('#parentname').val(node.parentName); 
 
 $('#hm_village_Entity_ID').val(node.ID); 
 $('#hm_village_Entity_Name').val(node.Name); 
 $('#hm_village_Entity_Pinyi').val(node.Pinyi); 
 $('#hm_village_Entity_Type').val(node.Type); 
 $('#hm_village_Entity_EnName').val(node.EnName); 
 $('#hm_village_Entity_Alias').val(node.Alias); 
 $('#hm_village_Entity_Population').val(node.Population); 
 $('#hm_village_Entity_TotalArea').val(node.TotalArea); 
 $('#hm_village_Entity_Office').val(node.Office); 
 $('#hm_village_Entity_Summary').val(node.Summary); 
 $('#hm_village_Entity_Address').val(node.Address); 
 $('#hm_village_Entity_IsLast').val(node.IsLast); 
 $('#hm_village_Entity_Level').val(node.Level); 
 $('#hm_village_Entity_NodePath').val(node.NodePath); 
 $('#hm_village_Entity_OrderBy').val(node.OrderBy); 
 $('#hm_village_Entity_ParentId').val(node.ParentId); 
 $('#hm_village_Entity_IsDelete').val(node.IsDelete); 
 $('#hm_village_Entity_AddDate').val(node.AddDate); 
 $('#hm_village_Entity_UpdateDate').val(node.UpdateDate); 

 
 
                    } 
                }); 
            }, 
            reload: function () { 
                $('#uitree_hm_village').tree('reload'); 
            }, 
            getSelected: function () { 
                return $('#uitree_hm_village').tree('getSelected'); 
            }, 
            add: function () { 
                var node = LCL_hm_village.getSelected(); 
                if (node) { 
                    //新增下级 
                    added = true; 
                    $('#parentid').val(node.id); 
                    $('#parentname').val(node.text); 
 
 $('#hm_village_Entity_ID').val(''); 
 $('#hm_village_Entity_Name').val(''); 
 $('#hm_village_Entity_Pinyi').val(''); 
 $('#hm_village_Entity_Type').val(''); 
 $('#hm_village_Entity_EnName').val(''); 
 $('#hm_village_Entity_Alias').val(''); 
 $('#hm_village_Entity_Population').val(''); 
 $('#hm_village_Entity_TotalArea').val(''); 
 $('#hm_village_Entity_Office').val(''); 
 $('#hm_village_Entity_Summary').val(''); 
 $('#hm_village_Entity_Address').val(''); 
 $('#hm_village_Entity_IsLast').val(''); 
 $('#hm_village_Entity_Level').val(''); 
 $('#hm_village_Entity_NodePath').val(''); 
 $('#hm_village_Entity_OrderBy').val(''); 
 $('#hm_village_Entity_ParentId').val(''); 
 $('#hm_village_Entity_IsDelete').val(''); 
 $('#hm_village_Entity_AddDate').val(''); 
 $('#hm_village_Entity_UpdateDate').val(''); 

 
 
                } 
            }, 
            save: function () { 
var ID= $('#hm_village_Entity_ID').val(); 
var Name= $('#hm_village_Entity_Name').val(); 
var Pinyi= $('#hm_village_Entity_Pinyi').val(); 
var Type= $('#hm_village_Entity_Type').val(); 
var EnName= $('#hm_village_Entity_EnName').val(); 
var Alias= $('#hm_village_Entity_Alias').val(); 
var Population= $('#hm_village_Entity_Population').val(); 
var TotalArea= $('#hm_village_Entity_TotalArea').val(); 
var Office= $('#hm_village_Entity_Office').val(); 
var Summary= $('#hm_village_Entity_Summary').val(); 
var Address= $('#hm_village_Entity_Address').val(); 
var IsLast= $('#hm_village_Entity_IsLast').val(); 
var Level= $('#hm_village_Entity_Level').val(); 
var NodePath= $('#hm_village_Entity_NodePath').val(); 
var OrderBy= $('#hm_village_Entity_OrderBy').val(); 
var ParentId= $('#hm_village_Entity_ParentId').val(); 
var IsDelete= $('#hm_village_Entity_IsDelete').val(); 
var AddDate= $('#hm_village_Entity_AddDate').val(); 
var UpdateDate= $('#hm_village_Entity_UpdateDate').val(); 

 
                if (added) { 
                    $.post(root + 'AjaxAdd', 
                        { ID: ID,Name: Name,Pinyi: Pinyi,Type: Type,EnName: EnName,Alias: Alias,Population: Population,TotalArea: TotalArea,Office: Office,Summary: Summary,Address: Address,IsLast: IsLast,Level: Level,NodePath: NodePath,OrderBy: OrderBy,ParentId: ParentId,IsDelete: IsDelete,AddDate: AddDate,UpdateDate: UpdateDate }, function (data) { 
                            $.messager.alert('系统消息', data.Message); 
                            //重新加载当前页 
                            LCL_hm_village.reload(); 
                        }, "json"); 
                } else { 
                    $.post(root + 'AjaxEdit', 
                        { ID: ID,Name: Name,Pinyi: Pinyi,Type: Type,EnName: EnName,Alias: Alias,Population: Population,TotalArea: TotalArea,Office: Office,Summary: Summary,Address: Address,IsLast: IsLast,Level: Level,NodePath: NodePath,OrderBy: OrderBy,ParentId: ParentId,IsDelete: IsDelete,AddDate: AddDate,UpdateDate: UpdateDate }, function (data) { 
                            $.messager.alert('系统消息', data.Message); 
                            //重新加载当前页 
                            LCL_hm_village.reload(); 
                        }, "json"); 
                } 
            }, 
            del: function () { 
                var node = LCL_hm_village.getSelected(); 
                if (node) { 
                    $.messager.confirm('确认', '确认要删除选中记录吗?', function (y) { 
                        if (y) { 
                            //提交 
                            $.post(root + 'AjaxDelete/', node.id, 
                            function (msg) { 
                                if (msg.Success) { 
                                    $.messager.alert('提示', msg.Message, 'info', function () { 
                                        //重新加载当前页 
                                        $('#grid_hm_village').datagrid('reload'); 
                                    }); 
                                } else { 
                                    $.messager.alert('提示', msg.Message, 'info') 
                                } 
                            }, "json"); 
                        } 
                    }); 
                } 
                else { 
                    alert('请选择'); 
                } 
                return false; 
            } 
        } 
        $(document).ready(function () { 
            LCL_hm_village.showTree(); 
            $('#btnAddhm_village').click(function () { LCL_hm_village.add(); }); 
            $('#btnSavehm_village').click(function () { LCL_hm_village.save(); }); 
            $('#btnDelhm_village').click(function () { LCL_hm_village.del(); }); 
        }); 

    </script> 
} 

