<div class="easyui-layout" fit="true" id="tb"> 
    <div data-options="region:'north'" style="padding: 1px; height:70px;"> 
        <!-------------------------------搜索框-----------------------------------> 
        <fieldset> 
            <legend id="search_title">信息查询</legend> 
            <form id="ffSearchhm_chargeuserbill" method="post"> 
                <div id="toolbar" style="margin-bottom:5px"> 
                    <label for="Keyword" id="search_key">搜:</label> 
                    <input type="text" name="Keyword" id="Keyword" class="easyui-textbox" style="width: 220px; height: 25px; text-align: center;" placeholder="请输入" /> 
                    &nbsp; 
                    <a id="btnSearchhm_chargeuserbill" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search">查询</a>&nbsp; 
                </div> 
            </form> 
        </fieldset> 
    </div> 
    <div data-options="region:'center'"> 
        <!-------------------------------详细信息展示表格-----------------------------------> 
        <table id="grid_hm_chargeuserbill" title="收费员领用票据"  data-options="iconCls:'icon-view'" fit="true"></table> 
   <!--   弹出框       --> 
        <div id="win_hm_chargeuserbill"  style="padding: 5px;background: #fafafa;" >  
            <div class="easyui-layout" fit="true"> 
               <form id="ffhm_chargeuserbill" method="post" ajax="true">
<table class="tb_searchbar"> 
 <tbody> 
                <tr> 
                    <td class="td_title"><label style="color: black" id="ff_lab_hm_chargeuserbill_billnumber">领用票据数量</label></td> 
                    <td> 
                        <input type="text" id="hm_chargeuserbill_Entity_BillNumber" name="hm_chargeuserbill_EntityBillNumber" value="  " style="width:310px"  maxlength="4" tabindex="1" /> 
                    </td> 
                </tr> 
                <tr> 
                    <td class="td_title"><label style="color: black" id="ff_lab_hm_chargeuserbill_chargeannual_id">ChargeAnnual_ID<span style="color:red;">*</span></label></td> 
                    <td> 
<select id="hm_chargeuserbill_Entity_ChargeAnnual_ID" class='easyui-combotree' data-options='url:"AjaxEasyUITree"' style='width: 120px; height: 28px;' tabindex="5"  data-options="required:true" class="easyui-validatebox" ></select>
                    </td> 
                </tr> 
                <tr> 
                    <td class="td_title"><label style="color: black" id="ff_lab_hm_chargeuserbill_chargeuser_id">ChargeUser_ID<span style="color:red;">*</span></label></td> 
                    <td> 
<select id="hm_chargeuserbill_Entity_ChargeUser_ID" class='easyui-combotree' data-options='url:"AjaxEasyUITree"' style='width: 120px; height: 28px;' tabindex="6"  data-options="required:true" class="easyui-validatebox" ></select>
                    </td> 
                </tr> 
<tr><td  colspan='1'><input type='hidden' id='hm_chargeuserbill_Entity_ID' name='hm_chargeuserbill_EntityID' value='' />
<input type='hidden' id='hm_chargeuserbill_Entity_IsDelete' name='hm_chargeuserbill_EntityIsDelete' value='' />
<input type='hidden' id='hm_chargeuserbill_Entity_AddDate' name='hm_chargeuserbill_EntityAddDate' value='' />
<input type='hidden' id='hm_chargeuserbill_Entity_UpdateDate' name='hm_chargeuserbill_EntityUpdateDate' value='' />
<td></tr>
 </tbody> 
</table> 

               </form>
            </div> 
        </div> 
    </div> 
</div> 
@section scripts{ 
  <script src="/Plugins/UIShell.HeatMeteringPlugin/ViewScript/hm_chargeuserbill.cshtml.LanguageResource.js" type="text/javascript"></script> 
  <script src="/Plugins/UIShell.HeatMeteringPlugin/ViewScript/hm_chargeuserbill.cshtml.js" type="text/javascript"></script> 
} 

