<div class="easyui-layout" fit="true" id="tb"> 
    <div data-options="region:'north'" style="padding: 1px; height:70px;"> 
        <!-------------------------------搜索框-----------------------------------> 
        <fieldset> 
            <legend id="search_title">信息查询</legend> 
            <form id="ffSearchedmspartscost" method="post"> 
                <div id="toolbar" style="margin-bottom:5px"> 
                    <label for="Keyword" id="search_key">搜:</label> 
                    <input type="text" name="Keyword" id="Keyword" class="easyui-textbox" style="width: 220px; height: 25px; text-align: center;" placeholder="请输入" /> 
                    &nbsp; 
                    <a id="btnSearchedmspartscost" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search">查询</a>&nbsp; 
                </div> 
            </form> 
        </fieldset> 
    </div> 
    <div data-options="region:'center'"> 
        <!-------------------------------详细信息展示表格-----------------------------------> 
        <table id="grid_edmspartscost" title="配件/服务费" toolbar="#tbar_edmspartscost" data-options="iconCls:'icon-view'" fit="true"></table> 
   <!--   弹出框       --> 
        <div id="win_edmspartscost"  style="padding: 5px;background: #fafafa;" >  
            <div class="easyui-layout" fit="true"> 
               <form id="ffedmspartscost" method="post" ajax="true">
<table class="tb_searchbar"> 
 <tbody> 
                <tr> 
                    <td class="td_title"><label style="color: black" id="ff_lab_edmspartscost_costtype">费用类型<span style="color:red;">*</span></label></td> 
                    <td> 
                        <input type="text" id="edmspartscost_Entity_CostType" name="edmspartscost_EntityCostType" value="  " style="width:310px"  data-options="required:true" class="easyui-validatebox"  maxlength="50" tabindex="1" /> 
                    </td> 
                </tr> 
                <tr> 
                    <td class="td_title"><label style="color: black" id="ff_lab_edmspartscost_name">名称<span style="color:red;">*</span></label></td> 
                    <td> 
                        <input type="text" id="edmspartscost_Entity_Name" name="edmspartscost_EntityName" value="  " style="width:310px"  data-options="required:true" class="easyui-validatebox"  maxlength="50" tabindex="2" /> 
                    </td> 
                </tr> 
                <tr> 
                    <td class="td_title"><label style="color: black" id="ff_lab_edmspartscost_devicebrand">品牌<span style="color:red;">*</span></label></td> 
                    <td> 
                        <input type="text" id="edmspartscost_Entity_DeviceBrand" name="edmspartscost_EntityDeviceBrand" value="  " style="width:310px"  data-options="required:true" class="easyui-validatebox"  maxlength="50" tabindex="3" /> 
                    </td> 
                </tr> 
                <tr> 
                    <td class="td_title"><label style="color: black" id="ff_lab_edmspartscost_devicemodel">型号<span style="color:red;">*</span></label></td> 
                    <td> 
                        <input type="text" id="edmspartscost_Entity_DeviceModel" name="edmspartscost_EntityDeviceModel" value="  " style="width:310px"  data-options="required:true" class="easyui-validatebox"  maxlength="50" tabindex="4" /> 
                    </td> 
                </tr> 
                <tr> 
                    <td class="td_title"><label style="color: black" id="ff_lab_edmspartscost_quantity">数量</label></td> 
                    <td> 
                        <input type="text" id="edmspartscost_Entity_Quantity" name="edmspartscost_EntityQuantity" value="  " style="width:310px"  maxlength="4" tabindex="5" /> 
                    </td> 
                </tr> 
                <tr> 
                    <td class="td_title"><label style="color: black" id="ff_lab_edmspartscost_unit">单位<span style="color:red;">*</span></label></td> 
                    <td> 
                        <input type="text" id="edmspartscost_Entity_Unit" name="edmspartscost_EntityUnit" value="  " style="width:310px"  data-options="required:true" class="easyui-validatebox"  maxlength="50" tabindex="6" /> 
                    </td> 
                </tr> 
                <tr> 
                    <td class="td_title"><label style="color: black" id="ff_lab_edmspartscost_unitcost">单价<span style="color:red;">*</span></label></td> 
                    <td> 
                        <input type="text" id="edmspartscost_Entity_UnitCost" name="edmspartscost_EntityUnitCost" value="  " style="width:310px"  data-options="required:true" class="easyui-validatebox"  maxlength="50" tabindex="7" /> 
                    </td> 
                </tr> 
                <tr> 
                    <td class="td_title"><label style="color: black" id="ff_lab_edmspartscost_money">金额</label></td> 
                    <td> 
                        <input type="text" id="edmspartscost_Entity_Money" name="edmspartscost_EntityMoney" value="  " style="width:310px"  maxlength="8" tabindex="8" /> 
                    </td> 
                </tr> 
                <tr> 
                    <td class="td_title"><label style="color: black" id="ff_lab_edmspartscost_warranty">质保期<span style="color:red;">*</span></label></td> 
                    <td> 
                        <input type="text" id="edmspartscost_Entity_Warranty" name="edmspartscost_EntityWarranty" value="  " style="width:310px"  data-options="required:true" class="easyui-validatebox"  maxlength="50" tabindex="9" /> 
                    </td> 
                </tr> 
                <tr> 
                    <td class="td_title"><label style="color: black" id="ff_lab_edmspartscost_remark">备注<span style="color:red;">*</span></label></td> 
                    <td> 
                        <input type="text" id="edmspartscost_Entity_Remark" name="edmspartscost_EntityRemark" value="  " style="width:310px"  data-options="required:true" class="easyui-validatebox"  maxlength="50" tabindex="10" /> 
                    </td> 
                </tr> 
                <tr> 
                    <td class="td_title"><label style="color: black" id="ff_lab_edmspartscost_maintenancebill_id">MaintenanceBill_ID<span style="color:red;">*</span></label></td> 
                    <td> 
<select id="edmspartscost_Entity_MaintenanceBill_ID" class='easyui-combotree' data-options='url:"AjaxEasyUITree"' style='width: 120px; height: 28px;' tabindex="14"  data-options="required:true" class="easyui-validatebox" ></select>
                    </td> 
                </tr> 
<tr><td  colspan='2'><input type='hidden' id='edmspartscost_Entity_ID' name='edmspartscost_EntityID' value='' />
<input type='hidden' id='edmspartscost_Entity_IsDelete' name='edmspartscost_EntityIsDelete' value='' />
<input type='hidden' id='edmspartscost_Entity_AddDate' name='edmspartscost_EntityAddDate' value='' />
<input type='hidden' id='edmspartscost_Entity_UpdateDate' name='edmspartscost_EntityUpdateDate' value='' />
<td></tr>
 </tbody> 
</table> 

               </form>
            </div> 
        </div> 
    </div> 
</div> 
@section scripts{ 
  <script src="/Plugins/UIShell.RbacManagementPlugin/ViewScript/edmspartscost.cshtml.LanguageResource.js" type="text/javascript"></script> 
  <script src="/Plugins/UIShell.RbacManagementPlugin/ViewScript/edmspartscost.cshtml.js" type="text/javascript"></script> 
} 

