@using LCL.MvcExtensions;
@{
    ViewBag.Title = "字典类型";
}
<div class="easyui-layout" fit="true" id="tb">
    <div data-options="region:'west',title:'字典类型'" style="width: 200px; overflow-y: hidden;">
        <div style="height: 550px; width: 100%; border: #99bbe8 1px solid; ">
            <div style="background: #efefef; width: 100%; border-bottom: #99bbe8 1px solid;">
                <a id="a_add" href="javascript:;" plain="true" class="easyui-linkbutton" icon="icon-add">新增</a>&nbsp;
                <a id="a_edit" href="javascript:;" plain="true" class="easyui-linkbutton" icon="icon-edit">修改</a>&nbsp;
                <a id="a_del" href="javascript:;" plain="true" class="easyui-linkbutton" icon="icon-remove">删除</a>
            </div>
            <div style="padding:2px 5px 5px 5px;overflow-y:hidden;">
                <ul id="dataDicType" class="easyui-tree" style="height:80%;"></ul>
            </div>
        </div>
        <!--   弹出框       -->
        <div id="dlg" class="easyui-dialog" style="width: 500px; height: 280px; padding: 1px 1px;" closed="true" buttons="#dlg-buttons">

        </div>
    </div>
    <div data-options="region:'center',title:'字典信息一览表'" style="padding: 5px; overflow-y: hidden;">
        <!--   数据列表       -->
        <table id="grid" title="字典信息一览表" class="easyui-datagrid" style="width:100%" toolbar="#toolbar"></table>
        <!--   命令列表       -->
        <div id="toolbar">
            <a id="b_add" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true" >添加</a>
            <a id="b_edit" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true" >修改</a>
            <a id="b_del" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true" >删除</a>
            <a id="b_reload" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true" >刷新</a>
            <a href="javascript:void(0)" />
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        var root="@(Url.BundlePContent("UIShell.RbacManagementPlugin", "Role"))/";
        var dicType = "00000000-0000-0000-0000-000000000000";
        var LCL = {
            showTree: function () {
                $('#dataDicType').tree({
                    url: root+'AjaxEasyUITree_DictType',
                    lines: true,
                    onClick: function (node) {
                        var cc = node.id;
                        dicType = cc;
                        mygrid.reload(cc);
                    }
                });
            },
            reload: function () {
                $('#dataDicType').tree('reload');
            },
            getSelected: function () {
                return $('#dataDicType').tree('getSelected');
            },
            add: function () {
                var d = $('#dlg').dialog({
                    title: '添加',
                    width: 500,
                    height: 280,
                    closed: true,
                    cache: false,
                    href: root + 'AddOrEdit',
                    iconCls: 'icon-add',
                    modal: true,
                    onClose: function () {
                        LCL.reload();
                    }
                });
                $("#dlg").dialog("open");
            },
            edit: function () {
                var node = LCL.getSelected();
                if (node) {
                    $('#dlg').dialog({
                        title: '修改',
                        width: 500,
                        height: 280,
                        closed: true,
                        cache: false,
                        href: root + 'AddOrEdit?id=' + trim(node.id),
                        iconCls: 'icon-edit',
                        modal: true,
                        onClose: function () {
                            LCL.reload();
                        }
                    });
                    $("#dlg").dialog("open");
                }
                else {
                    alert('请选择字典类别');
                }
                return false;
            },
            del: function () {
                var node = LCL.getSelected();
                var rows = $('#grid').datagrid('getData');
                if (rows && rows.total > 0) {
                    alert('当前字典有明细数据，不能删除。请先删除明细数据。');
                    return false;
                }
                if (node) {
                    var childs = $('#dataDicType').tree('getChildren', node.target);
                    if (childs && childs.length > 0) {
                        alert('当前字典有下级数据，不能删除。请先删除子节点数据。');
                        return false;
                    }

                    $.messager.confirm('确认', '确认要删除选中记录吗?', function (y) {
                        if (y) {
                            //提交
                            $.post(root + 'AjaxDelete/', node.id,
                            function (msg) {
                                if (msg.Success) {
                                    $.messager.alert('提示', msg.Message, 'info', function () {
                                        //重新加载当前页
                                        $('#grid').datagrid('reload');
                                    });
                                } else {
                                    $.messager.alert('提示', msg.Message, 'info')
                                }
                            }, "json");
                        }
                    });

                }
                else {
                    alert('请选择字典类别');
                }
                return false;
            }
        }
        var mygrid = {
            dginit: function (size) {
                $('#grid').datagrid({
                    url: "@(Url.BundlePContent("UIShell.RbacManagementPlugin", "Dictionary/GetDicChildList"))",
                    queryParams: { dictId: dicType },
                    title: "数据字典明细",
                    height: 500,
                    nowrap: false, //折行
                    striped: true,
                    idField: 'ID', //主键
                    singleSelect: true, //单选
                    fitColumns: true,
                    pagination: true,
                    pageNumber: 1, //当设置了 pagination 特性时，初始化页码。
                    pageSize: 10,
                    pageList: [5, 10, 15, 20, 50, 100],
                    columns: [
                        [
                         { title: 'Id', field: 'ID', width: 120, hidden: true },
                         { title: '名称', field: 'Name', width: 120 },
                         { title: '编码', field: 'Value', width: 100 },
                        ]
                    ]
                });
            },
            databind: function (cc) {
                $('#grid').datagrid('load', { dictId: cc });
            },
            reload: function (cc) {
                mygrid.databind(cc);
            },
            add: function () {
                var d = $('#dlg').dialog({
                    title: '添加',
                    width: 500,
                    height: 280,
                    closed: true,
                    cache: false,
                    href: "@(Url.BundlePContent("UIShell.RbacManagementPlugin", "Dictionary/AddOrEdit"))",
                    iconCls: 'icon-add',
                    modal: true,
                    onClose: function () {
                        mygrid.reload(dicType);
                    }
                });
                $("#dlg").dialog("open");
            },
            edit: function () {
                var row = mygrid.getSelected();
                if (row) {
                    $('#dlg').dialog({
                        title: '修改',
                        width: 500,
                        height: 280,
                        closed: true,
                        cache: false,
                        href: "@(Url.BundlePContent("UIShell.RbacManagementPlugin", "Dictionary/AddOrEdit?id="))" + trim(row.id),
                        iconCls: 'icon-edit',
                        modal: true,
                        onClose: function () {
                            mygrid.reload();
                        }
                    });
                    $("#dlg").dialog("open");
                }
                else {
                    alert('请选择字典类别');
                }
                return false;
            },
            del: function () {
                var node = LCL.getSelected();
                if (node) {


                }
                else {
                    alert('请选择字典类别');
                }
                return false;
            }
        }
        $(document).ready(function () {

            LCL.showTree(); //显示数据字典列表树

            mygrid.dginit(); //显示数据字典详情

            $('#a_add').click(LCL.add);
            $('#a_del').click(LCL.del);
            $('#a_edit').click(LCL.edit);

            $('#b_add').click(mygrid.add);
            $('#b_del').click(mygrid.del);
            $('#b_edit').click(mygrid.edit);
        });
    </script>
}






